@charset "utf-8";
/* CSS Document */
html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;}
body{margin:0;padding:0;min-height:100%;font-family:"MICROSOFT YAHEI"; font-size: 0.12rem; color:#333; background: #f3f4f3;min-width: 320px;max-width: 100%;}  
h1,h2,h3,h4,h5,h6,p,figure,form{margin:0;}  
table{border-collapse:collapse;border-spacing:0;}  
img{border:0;vertical-align:middle;-ms-interpolation-mode: bicubic;}  
a{text-decoration:none;color:#333;-webkit-tap-highlight-color:rgba(0,0,0,0);}  
a:focus{outline:none;-moz-outline:none;}  
a:visited{outline:none;-moz-outline:none;}  
ul,li,ol,dl,dt,dd{margin: 0;padding:0;list-style: none outside none;}
table,tr,th,td,input{margin: 0;padding:0; border-collapse: collapse; border-spacing: 0;}
h1,h2,h3,h4{ font-weight:normal;}
table{ width:100%;}
ol li{list-style:none;}  
em{font-style:normal;}
img{ border:0; border:none; max-width:100%;}
ul.inline-style li{float:left;display:inline;}
button,input,select,textarea{font-size:0.875em;margin: 0;outline: 0 none;vertical-align: baseline;*vertical-align: middle;font-family:"MICROSOFT YAHEI";-webkit-tap-highlight-color:rgba(0,0,0,0); border:0.01rem solid #dedede;height:0.4rem;  line-height:0.4rem;}  
input.text,select.text{-webkit-appearance: none}
textarea{overflow: auto;vertical-align: top;resize:none;}  
button,input{line-height: normal;}  
button,  
html input[type="button"],   
input[type="reset"],  
input[type="submit"]{-webkit-appearance: button;cursor: pointer;*overflow: visible;}  
button[disabled],
input[disabled],
input[type="checkbox"],
input[type="radio"]{box-sizing: border-box;padding: 0;*height: 0.13rem;*width: 0.13rem;} 
button::-moz-focus-inner,  
input::-moz-focus-inner{border: 0;padding: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display: block;}  
audio,canvas,video{display: inline-block;*display: inline;*zoom: 1;}  
audio:not([controls]){display: none;height: 0;}  
input[type="search"]{-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box; box-sizing: border-box;}  
input:-moz-placeholder{color: #999;}  
input::-webkit-input-placeholder{color:#999;}
input{ outline:none; appearance:none; -webkit-appearance:none; vertical-align:top; padding:0;}
.none{ display:none;}
.overflow_clear{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}/*css溢出省略*/
.fl{float:left;}
.fr{float:right;}
.clear{clear:both; font-size: 0; height: 0; line-height: 0;}
.clear_both:after{content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0;}
/*以上为通用样式结束*/

/*margin值*/
.mar10{margin:0.1rem;}
.mt10{margin-top:0.10rem;}
.mb10{margin-bottom:0.10rem;}
.mr10{margin-right:0.10rem;}
.ml10{margin-left:0.10rem;}
.mt5{margin-top:0.05rem;}
.mb5{margin-bottom:0.05rem;}
.mr5{margin-right:0.05rem;}
.ml5{margin-left:0.05rem;}

/*padding值*/
.pad10{padding:0.1rem;}
.pad_t10{padding-top:0.1rem;}
.pad_b10{padding-bottom:0.1rem;}
.pad_l10{padding-left:0.1rem;}
.pad_r10{padding-right:0.1rem;}

/*border边框*/
.border{border:0.01rem solid #e5e5e5;}
.border_t{border-top:0.01rem solid #e5e5e5;}
.border_b{border-bottom:0.01rem solid #e5e5e5;}
.border_l{border-left:0.01rem solid #e5e5e5;}
.border_r{border-right:0.01rem solid #e5e5e5;}

/*背景色*/
.bgcolor_white{ background:#fff none;}

/*字体大小*/
.font_size14{ font-size:0.14rem;}

/*字体行高*/
.font_line24{ line-height:0.24rem;}

/*字体颜色*/
.maincl{ color:#59c181;}
.fontcl1{ color:#ff3300;}
.pointcl1{ color:#ff2121;}
.black9{ color:#999;}
.black6{color:#666666;}
.black3{color:#333333;}
.black{color:#000000;}

.fontcl_blue{color: #108EE7;}

/*内容居中*/
.txt_center{ text-align:center;}

/*icon UI图标*/
.ico{display:inline-block; font-size:0; vertical-align:middle; background-repeat:no-repeat; background-position:center; background-size:contain; background-origin:content-box;}

/*button部分*/
.btn_box{ padding:0.1rem; position:relative;}
.pub_btn{ display:inline-block;opacity:1;cursor:pointer; text-align:center; color:#fff; border-radius:0.03rem; outline:none;-webkit-appearance: none; border:none; background-color:#00b7ee; height:0.3rem;  line-height:0.3rem; font-size:0.14rem;}
.pub_btn.graybg{ background-color:#e6e6e6; color:#333;}
.pub_btn.hxk{ background:#fff none; border:0.01rem solid #e5e5e5; color:#999;}
.pub_btn:hover{opacity:0.9;filter:alpha(opacity=90); color:#fff; text-decoration:none;}
.long_btn{height:0.4rem; width:100%; display:inline-block; background:#59c181 none; border:none 0; font-size:0.16rem; color:#fff; text-align:center; line-height:0.4rem;}
.long_gray_btn{height:0.4rem; width:100%; display:inline-block; background:#9b9e9c none; border:none 0; font-size:0.16rem; color:#fff; text-align:center; line-height:0.4rem;}
.long_btn.xk{background-color:#fff; border:0.01rem solid #00b7ee; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; color:#00b7ee;}
.long_btn.bgcolor1{ background-color:#ff6600;}
.long_btn.bggray{ background-color:#cccccc;}

/*点评星星样式*/
.starBg{ display:inline-block; width:0.80rem; height:0.13rem; line-height:0; font-size:0; vertical-align:middle; background:url(../images/evaluate_star_1@3x.png) repeat-x left top; background-size:contain; position:relative;}
.star{display:inline-block; height:0.13rem; font-size:0; line-height:0; vertical-align:middle; background:url(../images/evaluate_star_2@3x.png) repeat-x left top; background-size:contain;}
.star_clink{position: absolute; top: 0; left: 0; z-index: 2; display: inline-block; width: 100%; height: 0.13rem; overflow: hidden;}
.star_clink a{display: inline-block; width: 20%; height: 0.13rem; vertical-align: top; padding:0;margin:0;}

/*查看更多*/
.see_more_long{ display:block; line-height:0.4rem; text-align:center; font-size:0.14rem;}

/*共输入框*/
.pub_textarea_box{ background:#f5f5f5; padding:0.1rem;}
.pub_textarea{ width:100%; border:none 0; height:0.8rem; background:#f5f5f5; font-size:0.14rem; line-height:0.22rem; padding:0; margin:0;}

/*蒙层*/
.mask_bg{ position:fixed; width:100%; height:100%; display:none; z-index:1001; left:0; top:0; background:#000; opacity:0.3;}

/*加加减减框*/
.num_operate{overflow:hidden; border:0.01rem solid #626564; border-radius:0.03rem; overflow:hidden; display:inline-block;}
.num_operate span{position:relative; vertical-align:middle; height:0.24rem; width:0.24rem; float:left; background:#fff url(../images/addIco.png) no-repeat center; background-size:0.12rem; cursor:pointer; border-left:0.01rem solid #d1d1d1;}
.num_operate span.min{ background-image:url(../images/minIco.png); border-right:0.01rem solid #d1d1d1; border-left:0;}
.num_operate span:before{ content:''; width:200%; height:200%; position:absolute; left:-50%; top:-50%;}
.num_operate input{ float:left;display:inline-block; vertical-align:middle; width:0.3rem; height:0.24rem; background:none; border:none 0; text-align:center; font-size:0.15rem; line-height:0.24rem; color:#666;}

/*****/
.article{ font-size:0.14rem; line-height:0.24rem; word-break:break-all;text-align:justify;}
.article p a{color:#ff3300;text-decoration:underline}
.article p{ text-indent:2em; white-space:normal !important; }
.article span{ white-space:normal !important; }
.article h1,.article h2,.article h3,.article h4{height:0.3rem;line-height:0.3rem;}
.article img{ max-width:100%;height:auto; margin:0.1rem auto; vertical-align:top; display:block;}

/*不同屏幕下内容显示比例*/
@media (max-width:240px){
    html { font-size: 75px;}
}
@media screen and (min-width: 240px) and (max-width: 319px){
    html{font-size:75px;}
}
@media screen and (min-width: 320px) and (max-width: 479px){
    html{font-size:100px;}
}
@media screen and (min-width: 480px) and (max-width: 639px){
    html{font-size:150px;}
}
@media screen and (min-width: 640px) and (max-width: 719px){
    html{font-size:200px;}
}
@media screen and (min-width: 720px) and (max-width:967px){
    html{font-size:225px;}
}
@media (min-width:721px) {
    html { font-size: 100px;}
}

/******/


/*自提码弹出层*/
.zitiCode_mask {
    display: none;
    width: 80%;
    position: fixed;
    z-index: 1002;
    left: 50%;
    margin-left: -40%;
    top: 35%;
    margin-top: -1rem;
    background: #fff;
    overflow: hidden;
    border-radius: 0.05rem;
}
.zitiCode_mask .title {
    background: #eeeeee;
    padding: 0 0.1rem;
    line-height: 0.4rem;
    font-size: 0.16rem;
    color: #333;
}
.zitiCode_mask .title, .zitiCode_mask .cont {
    text-align: center;
}
.zitiCode_mask .cont {
    padding: 0.1rem;
}
.zitiCode_mask .cont p {
    font-size: 0.18rem;
    line-height: 0.3rem;
}
.zitiCode_mask .cont p {
    font-size: 0.18rem;
    line-height: 0.3rem;
}


.loadding{padding-top: 0.1rem;}

.fx_changeCard .selct_box{position: relative;}

.fx_changeCard .selct_box:after {
    content: '';
    border-left: 0.06rem solid transparent;
    border-right: 0.06rem solid transparent;
    border-top: 0.10rem solid #555;
    position: absolute;
    right: 0.03rem;
    top: 50%;
    margin-top: -0.05rem;
}