<{include file="merchant:block/header.html"}>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>会员充值</h5>
            </div>
            <div class="ibox-content">
                <form  method="post" role="form" class="form-horizontal m-t">
                  	<input type="hidden" name="card_id" value=""/>
                  	<div class="form-group">
                        <label class="col-sm-2 control-label">选择会员：</label>
                        <div class="col-sm-10">
                        	<div class="col-sm-4" >
		                        <select data-placeholder="输入会员手机号搜索" class="chosen-select form-control"  tabindex="2" >
		                        	<option value=""></option>
		                        	<{foreach $items as $v}>
		                            	<option value="<{$v.mobile}>" mobile="<{$v.mobile}>" username="<{$v.name}>" money="<{$v.money}>" jifen="<{$v.jifen}>" cardid="<{$v.card_id}>"><{$v.mobile}></option>
		                            <{/foreach}>
		                        </select>
	                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名：</label>
                        <div class="col-sm-10">
                        	<div class="col-sm-4" >
	                            <input type="text" name="username" value="" class="form-control" readonly="readonly">
	                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">余额：</label>
                        <div class="col-sm-10">
	                        <div class="col-sm-4">
	                        	<div class="input-group ">
		                        	<span class="input-group-addon">¥</span>
		                            <input type="text" name="money" value="" class="form-control" readonly="readonly">
		                        </div>
	                        </div>
	                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">积分：</label>
                        <div class="col-sm-10">
	                        <div class="col-sm-4">
	                            <input type="text" name="jifen" value="" class="form-control" readonly="readonly">
	                        </div>
	                    </div>
                    </div>
					<div class="form-group ">
                        <label class="col-sm-2 control-label">充值金额：</label>
                        <div class="col-sm-10">
                        	<div class="col-sm-4">
                        		<{foreach $package_data as $v}>
	                            <div class="radio radio-success ">
	                                <input type="radio" id="r_index<{$v@index}>" value="<{$v.money}>" name="radioInline" <{if $v@index==0}>checked="checked"<{/if}>>
	                                <label for="r_index<{$v@index}>"> 充值:&yen;<{$v.money}>（元）返回金额:&yen;<{$v.give}>（元）赠送积分:<{$v.jifen}>（分） </label>
	                            </div>
	                            <{/foreach}>
	                            <!-- <div class="radio radio-success ">
	                                <input type="radio" id="" value="" name="radioInline" >
	                                <label for="inlineRadio1"> 其他 </label>
	                            </div> -->
	                        </div>
	                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">&nbsp;</label>
                        <div class="col-sm-10">
	                        <div class="col-sm-4">
	                        	<button class="btn btn-primary" type="button" id="goto_sub">确认充值</button>
	                        </div>
	                    </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">现金收款</h4>
            </div>
            <div class="modal-body" style="text-align:center;">
                <form  method="post" role="form" class="form-horizontal m-t">
                	<input type="hidden" name="data[order_id]" value="">
                	<div class="form-group draggable">
	                    <label class="col-sm-4 control-label">应收金额：</label>
	                    <div class="col-sm-4">
	                    	<div class="input-group ">
		                    <span class="input-group-addon">¥</span>
		                        <input type="text" name="data[shishou_amount]" value="" class="form-control" readonly="readonly">
		                    </div>
		                </div>
	                </div>
	                 <div class="form-group draggable">
	                    <label class="col-sm-4 control-label">实收金额：</label>
	                    <div class="col-sm-4">
	                    	<div class="input-group ">
		                    	<span class="input-group-addon">¥</span>
		                        <input type="text" name="data[s_money]" value="0" class="form-control" >
		                    </div>
	                    </div>
	                </div>
	                <div class="form-group draggable">
	                    <label class="col-sm-4 control-label">找零金额：</label>
	                    <div class="col-sm-4">
		                    <div class="input-group ">
		                    	<span class="input-group-addon">¥</span>
		                        <input type="text" name="data[z_money]" value="0" class="form-control" readonly="readonly">
		                    </div>
	                    </div>
	                </div>
	            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white cancel_order">取消</button>
                <button type="button" class="btn btn-primary" id="goto_cashpay">确定</button>
            </div>
        </div>
    </div>
</div>

<{include file="merchant:block/footer.html"}>
<script  type="text/javascript" charset="utf-8" async defer>

	// chose初始化
	$('.chosen-select').chosen({
		width: "100%",
		no_results_text: "没有找到",
	});

	// chosen 选中事件
	$(".chosen-select").chosen().change(function(){
	    if(!$(this).val()) {
	    	layer.msg("请选中一个会员");return;
	    }else {
	    	$("input[name='username']").val($('.chosen-select').find('option:selected').attr('username'));
		    $("input[name='money']").val($('.chosen-select').find('option:selected').attr('money'));
		    $("input[name='jifen']").val($('.chosen-select').find('option:selected').attr('jifen'));
		    $("input[name='card_id']").val($('.chosen-select').find('option:selected').attr('cardid'));
	    }
	});


	// 确认充值
	$(document).on('click','#goto_sub',function(){
		var card_id = $("input[name='card_id']").val();
		var money = $('.radio-success').find('input:checked').val();
		if(!card_id) {
			layer.msg("请选中一个会员");return;
		}
		if(!money) {
			layer.msg("请选择充值金额");return;
		}
		// 生成订单
		$.ajax({
	        url: "<{link ctl='merchant/shop/card/chongzhi_sub'}>",
	        async: false,
	        dataType: 'json',
	        data: {"card_id":card_id,"money":money},
	        type: 'POST',
	        success: function (ret) {
	            if(ret.error == 0 && ret.order.order_id) {
	            	$("input[name='data[order_id]']").val(ret.order.order_id);
	            	$("input[name='data[shishou_amount]']").val(ret.order.amount);
	                $('#myModal6').modal();
                }else {

                }
	        },
	        error: function (xhr, status, err) {
	            alert(err);
	        },
	    });
	})

	// modal取消按钮点击事件
	$(document).on('click','.cancel_order', function(){
		$.ajax({
	        url: "<{link ctl='merchant/shop/card/cancel_order'}>",
	        async: false,
	        dataType: 'json',
	        data: {"order_id":$("input[name='data[order_id]']").val()},
	        type: 'POST',
	        success: function (ret) {
	        	if(!$(this).hasClass('close')) {
	        		$('#myModal6').modal('toggle');
	        	}
	        },
	        error: function (xhr, status, err) {
	            alert(err);
	        },
	    });
	})

	// 确定现金入账
	$(document).on('click','#goto_cashpay',function(){
		var s_money = parseFloat($("input[name='data[s_money]']").val());
		var shishou_amount = parseFloat($("input[name='data[shishou_amount]']").val()); 
		if(s_money < shishou_amount) {
			layer.msg('实际收款金额不得低于应收金额');return;
		}
		$.ajax({
	        url: "<{link ctl='merchant/shop/card/cashpay'}>",
	        async: false,
	        dataType: 'json',
	        data: {"order_id":$("input[name='data[order_id]']").val(),'shishou_amount':shishou_amount},
	        type: 'POST',
	        success: function (ret) {
	        	if(ret.error==0) {
	        		$('#myModal6').modal('toggle');
	        		var text_html = '';
            		text_html += '<span class="sa-line sa-right">会员信息</span></br></br>';
            		text_html += '<span class="sa-line sa-right">手机号：'+ret.data.card.mobile+'</span></br>';
            		text_html += '<span class="sa-line sa-right">姓名：'+ret.data.card.name+'</span></br>';
            		text_html += '<span class="sa-line sa-right">余额：'+ret.data.card.money+'</span></br>';
            		text_html += '<span class="sa-line sa-right">积分：'+ret.data.card.jifen+'</span>';
	        		swal({
		                title: "完成充值",
		                html: true,
		                text: text_html,
		                type: "success"
		            });
	        		setTimeout(function(){window.location.reload();},3000);
	        	}
	        },
	        error: function (xhr, status, err) {
	            alert(err);
	        },
	    });
	})

	// 实收input
	$(document).on('input propertychange',"input[name='data[s_money]']", function(){
		var s_money = parseFloat($("input[name='data[s_money]']").val());
		var z_money = parseFloat($("input[name='data[z_money]']").val());
		var shishou_amount = parseFloat($("input[name='data[shishou_amount]']").val());
		if(s_money > shishou_amount) {
			$("input[name='data[z_money]']").val(s_money-shishou_amount);
		}else {
			$("input[name='data[z_money]']").val(0);
		}
	})
	
</script>