<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right"><{link ctl="data/business:create" class="button" title="添加"}>
<{link ctl="data/business:so" load="mini:搜索内容" width="mini:500" class="button" title="搜索"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">商圈ID</th>
<th>区县</th>
<th>商圈名称</th>
<th class="w-50">排序</th>
<th class="w-100">创建时间</th>
<th class="w-150">操作</th>
</tr>
    <{foreach $items as $item}>
    <tr>
<td><label><input type="checkbox" value="<{$item.business_id}>" name="business_id[]" CK="PRI"/><{$item.business_id}><label></td>
<td><{$areas[$item.area_id]['area_name']}></td>
<td><{$item.business_name}></td>
<td><{$item.orderby}></td>
<td><{$item.dateline|format}></td>
<td><{link ctl="data/business:edit" args=$item.business_id title="修改" class="button"}><{link ctl="data/business:delete" args=$item.business_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}></td>
</tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left"><{link ctl="data/business:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}>
<{link ctl="data/business:doaudit" type="button" submit="mini:#items-form" confirm="mini:确定要批量审核选中的内容吗?" priv="hide" value="批量审核"}></td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>