<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="cashier/verify:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?cashier/verify-edit-<{$detail.shop_id}>.html" mini-form="verify-form" method="post" ENCTYPE="multipart/form-data">
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>商户：</th><td><{$detail.shop_id}></td></tr>
<tr><th>真实姓名：</th><td><{$detail.id_name}></td></tr>
<tr><th>身份证号：</th><td><{$detail.id_number}></td></tr>
<tr><th>身份证正面：</th><td><img src="<{$pager.img}>/<{$detail.id_photo1}>" class="wh-200" /></td></tr>
<tr><th>身份证反面：</th><td><img src="<{$pager.img}>/<{$detail.id_photo2}>" class="wh-200" /></td></tr>
<tr><th>手持身份证：</th><td><img src="<{$pager.img}>/<{$detail.id_photo3}>" class="wh-200" /></td></tr>
<tr><th>店铺门头：</th><td><img src="<{$pager.img}>/<{$detail.mentou_photo}>" class="wh-200" /></td></tr>
<tr><th>内景图：</th><td><img src="<{$pager.img}>/<{$detail.shop_photo1}>" class="wh-200" /></td></tr>
<tr><th>内景图：</th><td><img src="<{$pager.img}>/<{$detail.shop_photo2}>" class="wh-200" /></td></tr>
<tr><th>内景图：</th><td><img src="<{$pager.img}>/<{$detail.shop_photo3}>" class="wh-200" /></td></tr>
<tr><th>认证状态：</th>
    <td colspan="3">
        <{if $detail.verify==1}>
        <b class="green">已认证</b>
        <{elseif $detail.verify==2}>
        <b class="red">拒绝</b>
        <{else}>
        <label><input type="radio" name="data[verify]" <{if $detail.verify==1}>checked="checked"<{/if}> value="1"/>通过</label>&nbsp;&nbsp;
        <label><input type="radio" name="data[verify]" <{if $detail.verify==2}>checked="checked"<{/if}> value="2"/>拒绝</label>&nbsp;&nbsp;
        <label><input type="radio" name="data[verify]" <{if empty($detail.verify)}>checked="checked"<{/if}> value="0"/>待审</label>
        <{/if}>
        <span class="tip-comment">只有这里通过审核，商户才算正式通过审核</span>
    </td>
</tr>
<{if empty($detail.verify)}>
<tr><th>拒绝原因：</th><td><textarea name="data[refuse]" class="textarea w-500"><{$detail.refuse|default:''}></textarea></td></tr>
<{else}>
<{if $detail.verify==2}>

<tr><th>拒绝原因：</th><td><{$detail.refuse}></td></tr>
<{/if}>
<tr><th>审核时间：</th><td><{$detail.updatetime|format:'Y-m-d H:i:s'}></td></tr>
<{/if}>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table></div>
</form>

<{include file="admin:common/footer.html"}>