<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="waimai/Order:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?waimai/order-index.html" id="SO-form" method="post">
<table width="100%" border="0" cellspacing="0" class="table-data form"><tr><th>订单ID:</th><td><input type="text" name="SO[order_id]" value="" class="input w-200"/> </td></tr>
    <tr><th>城市ID:</th><td><input type="text" name="SO[city_id]" value="" class="input w-200"/> </td></tr>
    <tr>
        <th>商家:</th>
        <td>
            <input type="hidden" name="SO[shop_id]" value="0" id="export_shop_id" />
            <input type="text" value="" id="export_shop_title" class="input w-150" readonly/>
            <{link ctl="shop/shop:dialog" title="选择商家" select="mini:#export_shop_id,#export_shop_title/N/选择商家" class="button"}>
        </td>
    </tr>
    <tr><th>会员UID:</th><td><input type="text" name="SO[uid]" value="" class="input w-200"/> </td></tr>
    <tr><th>订单状态:</th><td><input type="text" name="SO[order_status]" value="" class="input w-200"/><br /> -1:取消,0:未处理,1:已接单,3:配送开始,4:配送完成,8:订单完成</td></tr>
    <tr><th>支付状态:</th><td><input type="text" name="SO[pay_status]" value="" class="input w-200"/> 0:未支付,1:已支付</td></tr>
    <tr><th>支付类型:</th><td><input type="text" name="SO[pay_code]" value="" class="input w-200"/><br />  wxpay:微信, alipay:支付宝, money:余额</td></tr>
    <tr><th>付款方式:</th><td><input type="text" name="SO[online_pay]" value="" class="input w-200"/>  0:货到付款,1:在线支付</td></tr>
    <tr><th>日期格式:</th><td><input type="text" name="SO[dateline][0]" value="" class="input w-100" date="dateline" readonly/>~<input type="text" name="SO[dateline][1]" value="" class="input w-100" date="dateline" readonly/></td></tr>    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="搜 索" /></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>
