<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right"><{link ctl="paotui/order:so" load="mini:搜索内容" width="mini:500" class="button" title="搜索"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
    <form id="items-form">
        <table width="100%" border="0" cellspacing="0" class="table-data table">
        <tr>
            <th class="w-100">订单ID</th>
            <th class="w-50">图标</th>
            <th>服务类型</th>
            <th>订单状态</th>
            <th>取件/购买地址</th>
            <th>联系方式</th>
            <th class="w-100">收取时间</th>
            <th class="w-50">跑腿费用</th>
            <th class="w-50">担保托管金额</th>
            <th class="w-50">结算金额</th>
            <th class="w-150">操作</th>
        </tr>
        <{foreach $items as $item}>
        <tr>
            <td><label><input type="checkbox" value="<{$item.order_id}>" name="order_id[]" CK="PRI"/><{$item.order_id}><label></td>
            <td><img src="<{$pager.url}>/<{$orders[$item['order_id']]['cate']['icon']}>" class="wh-50"/></td>           
            <td><{$orders[$item['order_id']]['cate']['title']}></td>
            <td><{$item.order_status_label}></td>
            <td>
                <{if $orders[$item['order_id']]['o_addr']}>
                <b class="blue">起：<{$orders[$item['order_id']]['o_addr']}>,<{$orders[$item['order_id']]['o_house']}></b>
                <{/if}>
                <{if $orders[$item['order_id']]['addr']}>
                <b class="green">终：<{$orders[$item['order_id']]['addr']}>,<{$orders[$item['order_id']]['house']}></b>
                <{/if}>
            </td>
            <td>
                <{if $orders[$item['order_id']]['o_contact']}>
                    <b class="blue">取：<{$orders[$item['order_id']]['o_contact']}>,<{$orders[$item['order_id']]['o_mobile']}></b><br />
                <{/if}>
                <{if $orders[$item['order_id']]['contact']}>
                <b class="green">收：<{$orders[$item['order_id']]['contact']}>,<{$orders[$item['order_id']]['mobile']}></b>
                <{/if}>
            </td>
            <td>
                <{if $orders[$item['order_id']]['o_time']}>
                <b class="blue">取：<{$orders[$item['order_id']]['o_time']|format:"Y-m-d H:i"}></b><br />
                <{/if}>
                <{if $orders[$item['order_id']]['time']}>
                <b class="green">收：<{$orders[$item['order_id']]['time']|format:"Y-m-d H:i"}></b>
                <{/if}>
            </td>
            <td><{$orders[$item['order_id']]['paotui_amount']}></td>
            <td><{$orders[$item['order_id']]['danbao_amount']}></td>
            <td><{$orders[$item['order_id']]['jiesuan_amount']}></td>
            <td>
                <{link ctl="paotui/order:detail" args=$item.order_id class="button" title="查看"}>
                <{link ctl="paotui/order:delete" args=$item.order_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}>
            </td>
        </tr>
        <{foreachelse}>
         <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
        <{/foreach}>
    </table>
</form>
    <div class="page-bar">
            <table>
                    <tr>
                    <td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
                    <td colspan="10" class="left">
                        <{link ctl="paotui/order:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}>
                    </td>
                    <td class="page-list"><{$pager.pagebar}></td>
            </tr>
            </table>
    </div>
</div>
<{include file="admin:common/footer.html"}>