<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="staff/staff:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?staff/staff-index.html" id="SO-form" method="post">
<table width="100%" border="0" cellspacing="0" class="table-data form">
    <tr><th>类型：</th>
        <td>
            <select class='select w-100'>
                <option value="">全部</option>
                <option value="weixiu">维修</option>
                <option value="house">家政</option>
                <option value="paotui">骑手</option>
            </select>
        </td>
    </tr>
    <tr><th>姓名：</th><td><input type="text" name="SO[name]" value="" class="input w-150"/></td></tr>
    <tr><th>手机号：</th><td><input type="text" name="SO[mobile]" value="" class="input w-150"/></td></tr>
    <tr><th></th><td><input type="submit" class="bt-big" value="搜 索"></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>