<{include file="merchant:block/header.html"}>

<style>
    .table th{text-align: right}
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>评论详情</h5>
            </div>
            <div class="ibox-content">
                <form action="<{link ctl='merchant/weidian/comment:reply' args=$detail.comment_id}>" mini-form="ucenter" method="post">
                    <table class="table table-hover table-striped ">
                        <tr>
                            <th class="col-sm-2 control-label">订单号：</th>
                            <td ><{$detail.order_id}></td>
                        </tr>
                        <tr>
                            <th>用户信息：</th>
                            <td><{$user['nickname']}>、<{$user.mobile}></td>
                        </tr>
                        <tr>
                            <th>商品包装评分：</th>
                            <td><{$detail.packing_score}></td>
                        </tr>
                        <tr>
                            <th>商品质量评分：</th>
                            <td><{$detail.quality_score}></td>
                        </tr>
                        <tr>
                            <th>物流服务评分：</th>
                            <td><{$detail.fuwu_score}></td>
                        </tr>
                        <tr>
                            <th>评论内容：</th>
                            <td><{$detail.content}>
                            </td>
                        </tr>
                        <tr>
                            <th>评论图片：</th>
                            <td>
                                <{foreach $photos as $item}>
                                <img src="<{$pager.img}>/<{$item.photo}>" style="max-width:150px;" photo="<{$pager.img}>/<{$item.photo}>"> &nbsp;&nbsp;
                                <{/foreach}>
                            </td>
                        </tr>
                        <tr>
                            <th>评论时间：</th>
                            <td ><{$detail.dateline|format}></td>
                        </tr>
                        <{if $detail.reply}>
                        <tr>
                            <th>回复内容：</th>
                            <td><{$detail.reply}></td>
                        </tr>
                        <tr>
                            <th>回复时间：</th>
                            <td><{$detail.reply_time|format}></td>
                        </tr>
                        <{else}>
                        <tr>
                            <th width="100">回复：</th>
                            <td><textarea name="data[reply]" class="textarea col-sm-6"></textarea></td>
                        </tr>
                        <tr><th></th>
                            <td>
                                <input type="submit" value="立即回复" class="btn btn-primary" /></td>
                        </tr>
                        <{/if}>
                        <tr><th></th>
                            <td>
                                <a  class="btn btn-primary" href="javascript:history.go(-1);"> 返回 </a></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="ucenter_c">

</div>
<{include file="merchant:block/footer.html"}> 