.shangjia_selct_box .list_box .list_child{height: 24px; line-height: 24px;}
.shangcheng-submit-content .tuangou-btn .num{right:300px;}
.yungou_index-part1, .yungou_index-part2, .yungou_index-part3, .yungou_index-part4, .yungou_index-part5, .yungou_index-part6{margin-top: 40px !important;}
.myshequ a{color: #fff;}
.myshequ a.hover{color: #fff;}

.tit .tag_box span{ display:inline-block; padding:0 6px; line-height:20px; color:#fff; text-align:center; position:absolute; left:0px; top:0; background:#59c181;}
.myOrder_nr .box .tit .tag_box{position: relative;}
.txt-center{text-align: center !important;}