/*订单样式开始*/
.order_top{ width:80%; margin:0.2rem 10%;}
.order_chose{ background:#fff; border:0.02rem solid #2cca77; height:0.39rem; line-height:0.40rem; border-radius:0.05rem; overflow:hidden;}
.order_chose a{ display:inline-block; width:50%; text-align:center; float:left; color:#2cca77;}
.order_chose a.current{ background:#2cca77; color:#fff;}
.order_list{ border-top:0.01rem solid #e6e6e6; background:#fff; margin-bottom:0.2rem;}
.order_box{ padding:0.1rem 0.2rem; border-bottom:0.01rem solid #e6e6e6;}
.order_box .ordIco{ color:#999; height:0.24rem; line-height:0.24rem; background:url(../images/orderIco1.png) no-repeat; vertical-align:middle; padding-left:0.3rem; margin-bottom:0.05rem; background-size:0.24rem;}
.order_box .ordIco1{ background-position:0rem 0rem;}
.order_box .ordIco2{ background-position:0rem -0.24rem;}
.order_box .ordIco3{ background-position:0rem -0.48rem;}
.order_box .ckLk{ display:block; text-align:center;}
.order_no{ text-align:center; line-height:0.3rem;}
.order_no img{ width:0.5rem; height:auto; margin:0.1rem 0;}
.order_no h2{ font-weight:normal; font-size:0.18rem;}
.order_no a.btn{ width:40%; height:0.35rem;  line-height:0.35rem; background:#2cca77; margin-top:0.1rem;}
/*订单样式结束*/

/*我的红包样式开始*/
.redbag_cont{ padding:0rem 0.1rem;}
.redbag_box{ border-radius:0.08rem;  margin-bottom:0.2rem; padding:0.2rem 0.1rem 0.1rem 0.1rem; position:relative;}
.redbag_box p.txtRt{ text-align:right; border-bottom:none;}
.redbag_box i{ position:absolute; right:0.1rem; top:0.2rem; display:block; width:1rem; height:1rem;}
.redbag_box i.wei{ background:url(../images/bagIco1.png) no-repeat; background-size:1rem 1rem;}
.redbag_box i.guo{ background:url(../images/bagIco2.png) no-repeat; background-size:1rem 1rem;}
.redbag_box i.yong{ background:url(../images/bagIco3.png) no-repeat; background-size:1rem 1rem;}
.redbag_clbox{ border:0.02rem solid #2cca77; background:#fff url(../images/bagBg1.png) top center repeat-x;background-size:0.3rem; }
.redbag_clbox p,.redbag_clbox h4{border-bottom:0.01rem dashed #2cca77;height:0.3rem; line-height:0.3rem;  }
.redbag_clbox p{ color:#2cca77;}
.redbag_gybox{ border:0.02rem solid #a0a0a0; background:#fff url(../images/bagBg2.png) top center repeat-x;background-size:0.3rem; }
.redbag_gybox p,.redbag_gybox h4{border-bottom:0.01rem dashed #a0a0a0;height:0.3rem; line-height:0.3rem;  color:#999;}
.redbag_bkbox{ border:0.02rem solid #707070; background:#fff url(../images/bagBg3.png) top center repeat-x;background-size:0.3rem; }
.redbag_bkbox p,.redbag_bkbox h4{border-bottom:0.01rem dashed #707070;height:0.3rem; line-height:0.3rem;  color:#666;}
/*我的红包样式结束*/

/*通知中心样式开始*/
.message_list{ border-top:0.01rem solid #e6e6e6; border-bottom:0.01rem solid #e6e6e6; background:#fff;margin-bottom:0.2rem; padding:0.1rem; position:relative;}
.message_list i{ position:absolute; right:0rem; top:0rem; width:0.3rem; height:0.3rem; }
.message_list i.notbw{background:url(../images/megTip1.png) no-repeat; background-size:0.3rem 0.3rem;}
.message_list i.overbw{background:url(../images/megTip2.png) no-repeat; background-size:0.3rem 0.3rem;}
.message_box{ padding:0 0.1rem 0 0.2rem;}
.message_box h4{ height:0.35rem; line-height:0.35rem; border-bottom:0.01rem solid #e6e6e6; position:relative; margin-bottom:0.05rem; }
.message_box h4 i{position:absolute; left:-0.22rem; top:0.1rem; width:0.175rem; height:0.175rem; background:url(../images/mesIco2.png) no-repeat;  background-size:0.175rem 0.35rem;}
.message_box h4 i.meg_qx{ background-position:0rem 0rem;}
.message_box h4 span{ font-weight:normal; font-size:0.16rem; display:inline-block; max-width:50%;max-width:50%; height:0.30rem; overflow:hidden;}
.message_box a{ display:block; line-height:0.24rem; color:#333;}
.message_box h4 i.meg_bag{  background-position:0rem -0.175rem;}
/*通知中心样式结束*/














