<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="jpush/log:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>ID：</th><td><{$detail.log_id}></td></tr>
<tr><th>类型：</th><td><{$detail.from}></td></tr>
<tr><th>标签：</th><td><{$detail.tag}></td></tr>
<tr><th>设备ID：</th><td><{$detail.device_id}></td></tr>
<tr><th> 安装注册号：</th><td><{$detail.register_id}></td></tr>
<tr><th>内容：</th><td><{$detail.content}></td></tr>
<tr><th>clientip：</th><td><{$detail.clientip}></td></tr>
<tr><th>dateline：</th><td><{$detail.dateline|format}></td></tr>
</table></div>
<{include file="admin:common/footer.html"}>