<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right">
				<{link ctl="mall/cate:create" class="button" load="mini:添加分类" width="mini:500" title="添加分类"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
	<table align="center" width="100%" cellpadding="0" cellspacing="0" class="table-data table">
		<tr>
			<th class="w-100">ID</th>
            <th class="w-50">图标</th>
            <th>分类名称</th>
			<th class="w-100">排序</th>
			<th class="w-200">操作</th>
		</tr>
		<{foreach $items as $v}>
        <tr id="cat-<{$v.cate_id}>">
            <td class="left"><label><input type="checkbox" value="cate_id[]" value="<{$v.cate_id}>" CK="PRI"><{$v.cate_id}></label></td>
            <td><img src="<{$pager.img}>/<{$v.icon}>" class="wh-50" /></td>
            <td class="left"><strong><{$v.title}></strong></td>
            <td class="left"><input type="text" name="orderby[<{$v.cate_id}>]" value="<{$v.orderby}>" class="input w-50" /></td>
            <td>
                <{link ctl="mall/cate:create" args="<{$v.cate_id}>" load="mini:添加子分类" width="mini:520" title="添加子分类" class="button"}>
                <{link ctl="mall/cate:edit" args="<{$v.cate_id}>" load="mini:编辑分类" width="mini:520" title="编辑分类" class="button"}>
                <{link ctl="mall/cate:delete" args=$v.cate_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}>
            </td>
        </tr>
        <{foreach $v.childrens as $vv}>
        <tr id="cat-<{$vv.cate_id}>">
            <td class="left"><label><input type="checkbox" value="cate_id[]" value="<{$vv.cate_id}>" CK="PRI"><{$vv.cate_id}></label></td>
            <td><img src="<{$pager.img}>/<{$vv.icon}>" class="wh-30" style="float:right;"/></td>
            <td style="text-align:left;padding-left:10px;">&nbsp;&nbsp;|---<strong><{$vv.title}></strong></td>
            <td class="left">&nbsp;&nbsp;|---<input type="text" name="orderby[<{$vv.cate_id}>]" value="<{$vv.orderby}>" class="input w-50" /></td>
            <td>
                <{link ctl="mall/cate:edit" args="<{$vv.cate_id}>" load="mini:编辑分类" width="mini:520" title="编辑分类" class="button"}>
                <{link ctl="mall/cate:delete" args=$vv.cate_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}>
            </td>
        </tr>
        <{/foreach}>
        <{/foreach}>
	</table>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left">
			<td class="w-200"><{link ctl="mall/cate:update" type="button" submit="mini:#items-form" title="更新数据"}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>