<{include file="merchant:block/header.html"}>
<div class="row">
    <div class="col-sm-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class=""><a href="<{link ctl='merchant/shop:index'}>">基本资料</a></li>
                <li class="active"><a href="javascript:;">安全设置</a></li>
                <li class=""><a href="<{link ctl='merchant/shop:mobile'}>">更换手机</a></li>
                <li class=""><a href="<{link ctl='merchant/shop:account'}>">提现帐号</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="">
                            <form action="<{link ctl='merchant/shop:passwd'}>" method="post" class="form-horizontal"
                                  ENCTYPE="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">旧密码：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <input type="text" type="password" name="data[passwd]" value=""
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">新密码：<br/></label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <input type="password" name="data[new_passwd]" value=""
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">确认新密码：<br/></label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <input type="password" name="data[new_passwd2]" value=""
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">&nbsp;</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" type="submit">保存数据</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<{include file="merchant:block/footer.html"}>