<{include file="merchant:block/header.html"}>
<div class="row">
    <div class="col-sm-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class=""><a  href="<{link ctl='merchant/tuan/order:index'}>" >订单管理</a>
                </li>
                <li class="active"><a  href="javascript:;" >团购券管理</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="alert alert-success"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;小提示：请输入消费密码进行验证</div>
                        <form action="<{link ctl='merchant/tuan/tuan:edit' args=$detail.tuan_id}>" method="post" class="form-horizontal"  ENCTYPE="multipart/form-data">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <div class="col-sm-4">
                                        <input type="text" name="data[code]" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"> 
                                <div class="col-sm-10">
                                    <div class="col-sm-4">
                                        <button class="btn btn-primary" type="button" id="go_check"><i class="fa fa-check-square-o"></i> 去验证</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<{include file="merchant:block/footer.html"}>
<script type="text/javascript" charset="utf-8" async defer>
$("#go_check").click(function(){
    var number = $("input[name='data[code]']").val();
    if(!number) {
        parent.layer.msg('请输入消费密码');return;
    }else {
        jQuery.ajax({        
            url: "<{link ctl='merchant/tuan/order/check'}>",
            async: true,  
            dataType: 'json',
            type: 'POST',   
            data: {"number":number},
            success: function (ret) { 
                if(ret.error > 0){
                    // 密码不正确
                    parent.layer.msg(ret.message);return;
                }else{
                    // 密码正确 swal
                    var html = '';
                    html += '<!DOCTYPE html>';
                    html += '<html>';
                    html += '<head>';
                    html += '<title></title>';
                    html += '</head>';
                    html += '<body>';
                    html += '<tr>'+ret.data.ticket.order.tuan_title+'</tr></br>';
                    html += '<tr>&yen;'+ret.data.ticket.order.tuan_price+' X '+ret.data.ticket.order.tuan_number+'</tr></br>';
                    html += '<tr>密码：'+ret.data.ticket.number+'</tr></br>';
                    html += '<tr>有效期至：'+ret.data.ticket.youxiao_time+'</tr></br>';
                    html += '</body>';
                    html += '</html>';
                    swal({
                        title: "密码正确,是否消费此券?",
                        text: html,
                        type: "success",
                        html: true,
                        showCancelButton: true,
                        confirmButtonColor: "#AEDEF4",
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        closeOnConfirm: true, //点击了确认按钮后模态窗口自动关闭
                    }, function (isConfirm) {
                        if (isConfirm) {
                            var url = "<{link ctl='merchant/tuan/order/used'}>";
                            jQuery.ajax({        
                                url: url, 
                                async: true,  
                                dataType: 'json',
                                type: 'POST',   
                                data: {"ticket_id":ret.data.ticket.ticket_id,"number":ret.data.ticket.number},
                                success: function (ret) { 
                                    if(ret.error > 0){
                                        parent.layer.msg(ret.message);return;
                                    }else{
                                        parent.layer.msg(ret.message);
                                        setTimeout(function(){window.location.reload();},1000);
                                    }
                                }, 
                                error: function (XMLHttpRequest, textStatus, errorThrown) { 
                                    alert(errorThrown); 
                                },  

                            });
                        }
                    });
                }
            }, 
            error: function (XMLHttpRequest, textStatus, errorThrown) { 
                alert(errorThrown); 
            },  

        });
    }
})
</script>