<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="xiaoqu/xiaoqu:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>小区ID：</th><td><{$detail.xiaoqu_id}></td></tr>
<tr><th>城市ID：</th><td><{$detail.city_id}></td></tr>
<tr><th>地区ID：</th><td><{$detail.area_id}></td></tr>
<tr><th>小区名称：</th><td><{$detail.title}></td></tr>
<tr><th>小区地址：</th><td><{$detail.addr}></td></tr>
<tr><th>纬度：</th><td><{$detail.lat}></td></tr>
<tr><th>经度：</th><td><{$detail.lng}></td></tr>
<tr><th>排序：</th><td><{$detail.orderby}></td></tr>
<tr><th>物业电话：</th><td><{$detail.phone}></td></tr>
<tr><th>审核：</th><td><{$detail.audit}></td></tr>
<tr><th>创建时间：</th><td><{$detail.dateline|format}></td></tr>
</table></div>
<{include file="admin:common/footer.html"}>