<{include file="merchant:block/header.html"}>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>修改活动</h5>
            </div>
            <div class="ibox-content">
                <form action="<{link ctl='merchant/weidian/huodong:edit' arg0=$detail.id}>" mini-form="merchant" method="post" ENCTYPE="multipart/form-data" role="form" class="form-horizontal m-t">
                    <div class="form-group draggable">
                        <label class="col-sm-2 control-label">活动名称：</label>
                        <div class="col-sm-10">
                            <div class="col-sm-4">
                                <input type="text" name="data[title]" value="<{$detail.title}>" class="form-control" placeholder="请输入标题">
                            </div>
                        </div>
                    </div>
                    <div class="form-group draggable">
                        <label class="col-sm-2 control-label">开始时间：</label>
                        <div class="col-sm-10">
                            <div class="col-sm-4">
                                <div class="input-group date">
                                    <span  class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" name="data[stime]" id="d4311" value="<{$detail.stime|format:'Y-m-d H:i:s'}>"  class="form-control"  onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group draggable">
                        <label class="col-sm-2 control-label">结束时间：</label>
                        <div class="col-sm-10">
                            <div class="col-sm-4">
                                <div class="input-group date">
                                    <span  class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" name="data[ltime]" id="d4312" value="<{$detail.ltime|format:'Y-m-d H:i:s'}>" class="form-control"  onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group draggable">
                        <label class="col-sm-2 control-label">活动链接：</label>
                        <div class="col-sm-10">
                            <div class="col-sm-4">
                                <input type="text" name="data[link]" value="<{$detail.link}>" class="form-control" placeholder="请输入标题">
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">&nbsp;</label>
                        <div class="col-sm-10">
                            <div class="col-sm-4">
                                <button class="btn btn-primary" type="submit">保存数据</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<{include file="merchant:block/footer.html"}>