
<div class="wrapper wrapper-content animated fadeInLeft">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <form id="SO-form" action="/merchant/?weidian/huodong/index.html" method="post" role="form" class="form-horizontal m-t">
                <div class="form-group draggable">
                    <label class="col-sm-3 control-label">标题：</label>
                    <div class="col-sm-4">
                        <input type="text" name="SO[title]" value="" class="form-control">
                    </div>
                </div>   
                <!-- <div class="form-group draggable">
                    <label class="col-sm-3 control-label">状态：</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="SO[audit]" value="">
                            <option></option>
                            <option value="1">显示</option>
                            <option value="0">隐藏</option>
                        </select>
                    </div>
                </div>     -->
                <div class="form-group draggable">
                    <label class="col-sm-3 control-label">开始时间：</label>
                    <div class="col-sm-4">
                        <input type="text" name="SO[stime][0]" value="" class="form-control" date="dateline" readonly>
                    </div>
                    <div class="col-sm-1">
                        ~
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="SO[stime][1]" value="" class="form-control" date="dateline" readonly>
                    </div>
                </div>
                <div class="form-group draggable">
                    <label class="col-sm-3 control-label">结束时间：</label>
                    <div class="col-sm-4">
                        <input type="text" name="SO[ltime][0]" value="" class="form-control" date="dateline" readonly>
                    </div>
                    <div class="col-sm-1">
                        ~
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="SO[ltime][1]" value="" class="form-control" date="dateline" readonly>
                    </div>
                </div> 
                <div class="form-group draggable">
                    <label class="col-sm-3 control-label">创建时间：</label>
                    <div class="col-sm-4">
                        <input type="text" name="SO[dateline][0]" value="" class="form-control" date="dateline" readonly>
                    </div>
                    <div class="col-sm-1">
                        ~
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="SO[dateline][1]" value="" class="form-control" date="dateline" readonly>
                    </div>
                </div>
                <div class="form-group draggable">
                <label class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-w-m" type="submit">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).off("click", "[date],[datepicker]").on("click", "[date],[datepicker]", function(){
    $(this).addClass("");
    WdatePicker({el:this,dateFmt:'yyyy-MM-dd'});
});
</script>