<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right">
				<!-- <{link ctl="cashier/log:create" class="button" title="添加"}> -->
<{link ctl="cashier/log:so" load="mini:搜索内容" width="mini:500" class="button" title="搜索"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">ID</th>
<th class="w-150">商户(ID)</th>
<th class="w-150">收银员（ID）</th>
<th class="w-150">金额</th>
<th class="w-150">类型</th>
<th class="w-150">订单号</th>
<th class="w-100">创建时间</th>
<th class="w-150">操作</th>
</tr>
    <{foreach $items as $item}>
    <tr>
<td><label><input type="checkbox" value="<{$item.log_id}>" name="log_id[]" CK="PRI"/><{$item.log_id}><label></td>
<td><{$shops[$item.shop_id]['title']}>(<{$item.shop_id}>)</td>
<td><{$staffs[$item.staff_id]['name']}>(<{$item.staff_id}>)</td>
<td><{$item.amount}></td>
<td><{$item.pay_code_title}></td>
<td><{$item.order_id}></td>
<td><{$item.dateline|format}></td>
<td><{link ctl="cashier/log:detail" args=$item.log_id class="button" title="查看"}></td>
</tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left"></td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>