<{include file="merchant:block/header.html"}>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>编辑商品</h5>
            </div>
            <div class="ibox-content">
                <form action="<{link ctl='merchant/cashier/product:edit' args=<{$detail.product_id}>}>" mini-form="merchant" method="post"
                      ENCTYPE="multipart/form-data" class="form-horizontal">
                    <div class="form-group">
                        <div class="form-group draggable">
                            <label class="col-sm-2 control-label">分类：</label>
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                <select class="form-control" name="data[cate_id]">
                                    <{foreach $cates as $v}>
                                        <option value="<{$v.cate_id}>" selected="selected" class="cate"><{$v.title}></option>
                                    <{/foreach}>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品标题：</label>
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                    <input type="text" name="data[title]" value="<{$detail.title}>" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品价格：</label>
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                    <input type="text" name="data[title]" value="<{$detail.title}>" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group draggable">
                            <label class="col-sm-2 control-label">商品图片：</label>
                            <div class="col-sm-10">
                                <div class="col-sm-4"><input type="text" name="data[photo]" class="form-control" id="file_photo" value="<{$detail.photo}>" photo="<{$pager.img}>/<{$detail.photo}>" readonly="readonly" /></div>
                                <div class="col-sm-8"><input type="button" uploadbtn="#file_photo" class="ke-upload_lay pull-left" value=" 选择文件 " /><a preview="#file_photo" class="btn btn-success btn-outline"><span class="bs-glyphicons glyphicon glyphicon-th" aria-hidden="true"></span> 预览</a></div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label">条码：</label>
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                 
                                    <input type="text" name="data[price]" value="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label">库存：</label>
                            <div class="col-md-10">
                            <div class="col-sm-4">
                                <input type="text" id="product_stock" name="data[stock]"
                                       value="<{$detail.stock|default:'0'}>" class="form-control">
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">销量：</label>
                            <div class="col-md-10">
                            <div class="col-sm-4">
                                <input type="text" name="data[sales]" value="<{$detail.sales|default:''}>"
                                       class="form-control">
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序：</label>
                            <div class="col-md-10">
                                <div class="col-sm-4">
                                    <input type="text" name="data[orderby]" value="<{$detail.orderby|default:'50'}>"
                                       class="form-control">
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="form-group m-b-20">
                            <div class="col-sm-2"><!--勿删--></div>
                            <div class="col-sm-4">
                                <div class="formitems newSet_btn_box col-sm-10 control-label" style="margin: 20px 0px">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<{include file="merchant:block/footer.html"}>