
<div class="wrapper wrapper-content animated fadeInLeft">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <form id="SO-form" action="/merchant/?cashier/product/index.html" method="post" role="form" class="form-horizontal m-t">
                <div class="form-group draggable">
                    <label class="col-sm-3 control-label">商品ID：</label>
                    <div class="col-sm-4">
                        <input type="text" name="SO[product_id]" value="" class="form-control">
                    </div>
                </div> 
                <div class="form-group draggable">
                    <label class="col-sm-3 control-label">标题：</label>
                    <div class="col-sm-4">
                        <input type="text" name="SO[title]" value="" class="form-control">
                    </div>
                </div>   
                <div class="form-group draggable">
                    <label class="col-sm-3 control-label">库存：</label>
                    <div class="col-sm-4">
                        <input type="text" name="SO[stock]" value="" class="form-control">
                    </div>
                </div> 
                <div class="form-group draggable">
                    <label class="col-sm-3 control-label">分类：</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="SO[cate_id]" value="">
                            <{foreach $cates as $v}>
                                <option value="<{$v.cate_id}>" selected="selected" class="cate"><{$v.title}></option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>    
                
                <div class="form-group draggable">
                    <label class="col-sm-3 control-label">创建时间：</label>
                    <div class="col-sm-4">
                        <input type="text" name="SO[dateline][0]" value="" class="form-control" date="dateline" readonly>
                    </div>
                    <div class="col-sm-1">
                        ~
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="SO[dateline][1]" value="" class="form-control" date="dateline" readonly>
                    </div>
                </div>
                <div class="form-group draggable">
                <label class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-w-m" type="submit">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).off("click", "[date],[datepicker]").on("click", "[date],[datepicker]", function(){
    $(this).addClass("");
    WdatePicker({el:this,dateFmt:'yyyy-MM-dd'});
});
</script>