<{include file="merchant:block/header.html"}>

<div class="row">
    <div class="col-sm-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li><a href="<{link ctl='merchant/msg:order'}>">订单消息</a></li>
                <li class="active"><a href="<{link ctl='merchant/msg:comment'}>">评价消息</a></li>
                <li><a href="<{link ctl='merchant/msg:complain'}>">投诉消息</a></li>
                <li><a href="<{link ctl='merchant/msg:system'}>">系统消息</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">

                        <table class="table table-striped  table-hover" id="myTable">
                            <thead>
                            <tr>
                                <th>是否已读</th>
                                <th>标题</th>
                                <th>内容</th>
                                <th>时间</th>

                            </tr>
                            </thead>
                            <tbody>
                            <{foreach $items as $item}>
                            <tr>
                                 <td><{if $item.is_read==0}><strong>未读</strong><{elseif
                                    $item.is_read==1}>已读<{else}><{/if}>
                                </td>
                                <td><{if $item.is_read==0}><strong><{/if}><{$item.title}><{if
                                    $item.is_read==0}></strong><{/if}>
                                </td>
                                <td><{if $item.is_read==0}><strong><{/if}><{$item.content}><{if
                                    $item.is_read==0}></strong><{/if}>
                                </td>
                                <td><{if $item.is_read==0}><strong><{/if}><{$item.dateline|format:'Y-m-d H:i'}><{if
                                    $item.is_read==0}></strong><{/if}>
                                </td>

                            </tr>
                            <{foreachelse}>
                            <tr>
                                <td colspan="20">
                                    <div class="alert alert-info"><{$newmsg}></div>
                                </td>
                            </tr>
                            <{/foreach}>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                        <div class="btn-group pull-right pagination_box">
                            <div class="page"><{$pager.pagebar}></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<{include file="merchant:block/footer.html"}>

<script>

    function lookdetail(msg_id, msg_type, order_id) {
        localStorage['shop_msg_id'] = msg_id;
        var link = null;
        if (msg_type == 1) {
            link = "<{link ctl='merchant/order:detailorder' arg0=order_id}>";
        } else if (msg_type == 2) {
            link = "<{link ctl='merchant/order:detailcomment' arg0=order_id}>";
        } else if (msg_type == 3) {
            link = "<{link ctl='merchant/order:detailcomplain' arg0=order_id}>";
        } else {
            link = "<{link ctl='merchant/order:detailsystem' arg0=order_id}>";
        }
        link = link.replace('order_id', order_id);
        window.location.href = link;
    }

</script>