<IfModule mod_rewrite.c>
  	Options +FollowSymlinks
  	RewriteEngine On

  	#重写规则

  	#首页
  	RewriteRule ^home_(\d+).html$ /index/index?p=$1 [L]
  	#app下载
  	RewriteRule ^app/index.html$ /index/app [L]

  	#用户主页
  	RewriteRule ^user/(\d+)_(\d+).html$ /main/index?id=$1&p=$2 [L]
	RewriteRule ^user/(\d+).html$ /main/index?id=$1 [L]
	#用户关注列表页
	RewriteRule ^user/follows/(\d+)_(\d+).html$ /main/follows?id=$1&p=$2 [L]
	RewriteRule ^user/follows/(\d+).html$ /main/follows?id=$1 [L]
	#用户粉丝列表页
	RewriteRule ^user/fans/(\d+)_(\d+).html$ /main/fans?id=$1&p=$2 [L]
	RewriteRule ^user/fans/(\d+).html$ /main/fans?id=$1 [L]
	
	#段子
	RewriteRule ^text.html$ /index/text [L]
	#段子分页
	RewriteRule ^text_(\d+).html$ /index/text?p=$1 [L]
	#笑话内容 多种可选
	#RewriteRule ^(\d+).html$ /xiaohua/index?id=$1 [L]
	#RewriteRule ^(\w+).html$ /xiaohua/index?listdir=$1 [L]
	RewriteRule ^text/(\w+)/(\d+).html$ /xiaohua/index?listdir=$1&id=$2 [L]
	#段子栏目分页
	RewriteRule ^text/(\w+)_(\d+).html$ /index/subjoke?parentdir=text&listdir=$1&p=$2 [L]
	#段子栏目
	RewriteRule ^text/(\w+).html$ /index/subjoke?parentdir=text&listdir=$1 [L]

	#图片
	RewriteRule ^pic.html$ /index/pic [L]
	#图片分页
	RewriteRule ^pic_(\d+).html$ /index/pic?p=$1 [L]
	#图片栏目分页
	RewriteRule ^pic/(\w+)_(\d+).html$ /index/subjoke?parentdir=pic&listdir=$1&p=$2 [L]
	#笑话内容
	RewriteRule ^pic/(\w+)/(\d+).html$ /xiaohua/index?listdir=$1&id=$2 [L]
	#图片栏目
	RewriteRule ^pic/(\w+).html$ /index/subjoke?parentdir=pic&listdir=$1 [L]

	#动图
	RewriteRule ^gif.html$ /index/gif [L]
	#动图分页
	RewriteRule ^gif_(\d+).html$ /index/gif?p=$1 [L]
	#动图栏目分页
	RewriteRule ^gif/(\w+)_(\d+).html$ /index/subjoke?parentdir=gif&listdir=$1&p=$2 [L]
	#笑话内容
	RewriteRule ^gif/(\w+)/(\d+).html$ /xiaohua/index?listdir=$1&id=$2 [L]
	#动图栏目
	RewriteRule ^gif/(\w+).html$ /index/subjoke?parentdir=gif&listdir=$1 [L]

	#视频
	RewriteRule ^video.html$ /index/video [L]
	#视频分页
	RewriteRule ^video_(\d+).html$ /index/video?p=$1 [L]
	#视频栏目分页
	RewriteRule ^video/(\w+)_(\d+).html$ /index/subjoke?parentdir=video&listdir=$1&p=$2 [L]
	#笑话内容
	RewriteRule ^video/(\w+)/(\d+).html$ /xiaohua/index?listdir=$1&id=$2 [L]
	#视频栏目
	RewriteRule ^video/(\w+).html$ /index/subjoke?parentdir=video&listdir=$1 [L]

	#热点
	RewriteRule ^hotjoke.html$ /index/hotjoke [L]
	#热点分页
	RewriteRule ^hotjoke_(\d+).html$ /index/hotjoke?p=$1 [L]
	#8小时
	RewriteRule ^hour.html$ /hot/index [L]
	#8小时分页
	RewriteRule ^hour_(\d+).html$ /hot/index?p=$1 [L]
	#7天
	RewriteRule ^week.html$ /hot/week [L]
	#7天分页
	RewriteRule ^week_(\d+).html$ /hot/week?p=$1 [L]
	#30天
	RewriteRule ^month.html$ /hot/month [L]
	#30天分页
	RewriteRule ^month_(\d+).html$ /hot/month?p=$1 [L]
	#神回复
	RewriteRule ^godreply.html$ /index/godreply [L]
	#神回复分页
	RewriteRule ^godreply_(\d+).html$ /index/godreply?p=$1 [L]
	#笑点
	RewriteRule ^tags.html$ /tags/index [L]
	#笑点栏目分页
	RewriteRule ^tags/(\w+)_(\d+).html$ /tags/info?listdir=$1&p=$2 [L]
	#笑点栏目
	RewriteRule ^tags/(\w+).html$ /tags/info?listdir=$1 [L]
	

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>