<IfModule mod_rewrite.c>
RewriteEngine  on
RewriteBase /admin
RewriteRule ^admin\/(.*)$ admin/$1 [QSA,L]
RewriteBase /attachs
RewriteRule ^attachs\/photo/demo/(.*)$ http://waimai.o2o.ijh.cc/attachs/photo/demo/$1 [QSA,L]
RewriteRule ^attachs\/(.*)$ attachs/$1 [QSA,L]
RewriteBase /themes
RewriteRule ^themes\/(.*)$ themes/$1 [QSA,L]
RewriteBase /static
RewriteRule ^static\/(.*)$ static/$1 [QSA,L]
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine  on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php$2 [QSA,L]
RewriteRule ^themes\/.*\.(html|xml) [F,L] 
</IfModule>
<IfModule mod_security.c>
SecFilterEngine Off
SecFilterScanPOST Off
</IfModule>