<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
        <tr>
            <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
            <th><label class="left">推送内容</label>
            </td>
            <td align="left"></td>
            <td width="15"></td>
        </tr>
    </table>
</div>
<div class="page-data">
<form action="?jpush/device-push.html" mini-form="device-form" method="POST">
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tbody>
    <tr>
        <th>推送标题：</th>
        <td><input type="text" name="data[title]" value="" class="input w-400"/></td>
    </tr>
    <tr>
        <th>推送内容：</th>
        <td>
            <textarea name="data[content]" class="textarea w-400"></textarea><br>
        </td>
    </tr>
    <{if $device}>
    <tr>
        <th>推送目标：</th>
        <td><{$device.from_title}>：
        <b class="blue">
        <{if $device.from == 'member'}>
        <{$member.nickname}>(<{$member.mobile}>)
        <{elseif $device.from == 'staff'}>
        <{$staff.name}>(<{$staff.mobile}>)
        <{elseif $device.from == 'shop'}>
        <{$shop.title}>(<{$shop.phone}>)
        <{/if}>
        </b>
        ，设备号：<{$device.register_id}>
            <input type="hidden" name="data[device_id]" value="<{$device.device_id}>" />
            <input type="hidden" name="data[from]" value="<{$device.from}>" />
            <input type="hidden" name="data[platform]" value="<{$device.platform}>" />
        </td>
    </tr>
    <{else}>
    <tr>
        <th class="w-100">推送类型：</th>
        <td>
            <select class="select w-200" name="data[from]">
                <option value="member">用户端</option>
                <option value="staff">服务端</option>
                <option value="shop">商户端</option>
            </select>
        </td>
    </tr>    
    <tr>
        <th class="w-100">推送平台：</th>
        <td>
            <select class="select w-200" name="data[platform]">
                <option value="all">推送给所有平台</option>
                <option value="android">Android终端</option>
                <option value="ios">IOS终端</option>
            </select>
        </td>
    </tr>    
    <tr>
        <th class="w-100">推送标签：</th>
        <td>
            <select class="select w-200" name="data[tag_id]">
                <option value="all">推送给所有人</option>
                <{foreach $tag_list as $k=>$v}>
                <option value="<{$v.tag_id}>"><{$v.tag}></option>
                <{/foreach}>
            </select>
        </td>
    </tr>
    <{/if}>
    <tr>
        <th class="clear-th-bottom"></th>
        <td class="clear-td-bottom" colspan="10">
            <input type="submit" class="bt-big" value="提交数据">
        </td>
    </tr>    
</tbody>
</table>
</form>
</div>
<{include file="admin:common/footer.html"}>
