<{include file="merchant:block/header.html"}>



<div class="row">
    <div class="col-sm-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li <{if $st==0}>class="active"<{/if}>><a  href="<{link ctl='merchant/shop/comment:index'}>" aria-expanded="true">收到的评论</a>
                </li >
                <li <{if $st>0}>class="active"<{/if}>> <a href="<{link ctl='merchant/shop/comment:index' arg0=1}>" aria-expanded="true">未回复的评论</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">

                        <div class="">

                            <table cellspacing="0" cellpadding="0" class="table table-striped table-hover" id="myTable" data-page-size="1" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th >客户</th>
                                    <th >订单号</th>
                                    <th >综合评分</th>
                                    <th >状态</th>
                                    <th >评论时间</th>
                                    <th >操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <{foreach $items as $item}>
                                <tr>
                                    <td><{$item.comment_id}></td>
                                    <td><{$users[$item['uid']]['nickname']}></td>
                                    <td><{$item.order_id}></td>
                                    <td><{$item.score}></td>
                                    <td><{if $item.reply}><b class="blue">已回复</b><{else}><b class="red">未回复</b><{/if}></td>
                                    <td><{$item.dateline|format}></td>
                                    <td>
                                        <a href="<{link ctl='merchant/shop/comment/detail' args=$item.comment_id}>" class="btn btn-primary btn-sm btn-outline" style="margin-right: 5px;">详情</a>
                                        <{if !$item.reply}>
                                        <button type="button" class="btn btn-success  btn-sm btn-outline huifu" rel="<{$item.comment_id}>"
                                                onclick="huifu(<{$item.comment_id}>)" data-toggle="modal" data-target="#myModal">回复评论</button>
                                        <!-- <a title="回复" mini-width="500" mini-load="回复评论" href="<{link ctl='merchant/shop/comment/reply' args=$item.comment_id}>" class="btn btn-primary">回复</a> -->
                                        <{else}><a href="javascript:void(0);" class="btn btn-primary btn-sm ">已回复</a><{/if}></td>
                                </tr>
                                <{foreachelse}>
                                <tr><td colspan="20"><div class="alert alert-info">没有数据</div></td></tr>
                                <{/foreach}>
                                </tbody>
                                <tfoot>
                                <!-- <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>  -->
                                </tfoot>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<form id="myformid" method="post" ENCTYPE="multipart/form-data" role="form" >
    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInDown">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <div class="form-group draggable tanchuang">
                        <label class="col-sm-2 control-label"><span>回复评论</span></label>
                        <textarea name="data[reply]" style="width:400px;height:80px;"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary baocun">保存</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

 <span  id='abc'></span>    
<{include file="merchant:block/footer.html"}>

<script>
    function huifu(comment_id){
        var str = '<input type="hidden" name="data[comment_id]" value="' +comment_id + '" class="form-control">';
        $(".tanchuang").append(str);
    }
    $(".baocun").click(function(){
          $.ajax({  
              type: "POST",  
              url: "?shop/comment/reply",
              dataType:'json',  
              data: $('#myformid').serialize(),
              success: function(ret) {
              //alert(typeof(ret));
               // var ret = jQuery.parseJSON(ret);
                if(ret.error ==0){
                  layer.msg(ret.message);
                  window.location.reload(); 
                }else{
                  layer.msg(ret.message);
                }
                
              }  
          });  
    })
</script>
