<div class="wrapper wrapper-content animated fadeInLeft">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <form id="myformid" method="post" action="<{link ctl='merchant/waimai/comment/reply' args=<{$pager.comment_id}>}>" mini-form="reply" ENCTYPE="multipart/form-data" role="form" >
                
                <div class="form-group">
                    <label class="col-sm-1 control-label">&nbsp;</label>
                    <div class="col-sm-10">
                        <div class="col-sm-8">
                            <textarea name="data[reply]" class="form-control" placeholder="请输入您的回复内容" style="margin: 15px -149.563px 0px 0px; height: 132px; width: 355px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">&nbsp;</label>
                    <div class="col-sm-10">
                        <div class="col-sm-4">
                            <button class="btn btn-primary" type="submit" style="margin-left: 40px;">提交回复</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

