<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="xiaoqu/yezhu:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?xiaoqu/yezhu-edit.html" mini-form="yezhu-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<input type="hidden" name="yezhu_id" value="<{$detail.yezhu_id}>"/>
<tr><th>小区：</th><td><b class="blue"><{$xiaoqu.title}></b></td></tr>
<tr><th><span class="red">*</span>联系人：</th><td><input type="text" name="data[contact]" value="<{$detail.contact|default:''}>" class="input w-200"/></td></tr>
<tr><th><span class="red">*</span>联系电话：</th><td><input type="text" name="data[mobile]" value="<{$detail.mobile|default:''}>" class="input w-200"/></td></tr>
<tr><th>楼号：</th><td><input type="text" name="data[house_louhao]" value="<{$detail.house_louhao|default:''}>" class="input w-200"/><span class="tip-comment">楼号(A10, B16等)</span></td></tr>
<tr><th>单元：</th><td><input type="text" name="data[house_danyuan]" value="<{$detail.house_danyuan|default:''}>" class="input w-200"/><span class="tip-comment">单元号(3  无单元 0)</span></td></tr>
<tr><th>户号：</th><td><input type="text" name="data[house_huhao]" value="<{$detail.house_huhao|default:''}>" class="input w-200"/><span class="tip-comment">户号(102, 904)</span></td></tr>
<tr><th>面积：</th><td><input type="text" name="data[house_mianji]" value="<{$detail.house_mianji|default:''}>" class="input w-200"/><span class="tip-comment">房屋面积，单位平米</span></td></tr>
<tr>
	<th>车位：</th>
	<td>
		<label><input type="radio" name="data[have_chewei]" <{if $detail.have_chewei}>checked="checked"<{/if}> value="1"/>是</label>&nbsp;&nbsp;
		<label><input type="radio" name="data[have_chewei]" <{if isset($detail.have_chewei) && empty($detail.have_chewei)}>checked="checked"<{/if}> value="0"/>否</label>
	</td>
</tr>
<tr><th>车位号：</th><td><input type="text" name="data[chewei_hao]" value="<{$detail.chewei_hao|default:''}>" class="input w-200"/><span class="tip-comment">车位号,如:B3021</span></td></tr>
<tr><th>车牌号：</th><td><input type="text" name="data[chepai_hao]" value="<{$detail.chepai_hao|default:''}>" class="input w-200"/><span class="tip-comment">车牌号,如:皖A88888</span></td></tr>
<tr><th>排序：</th><td><input type="text" name="data[orderby]" value="<{$detail.orderby|default:'50'}>" class="input w-100"/><span class="tip-comment">排序数字小靠前</span></td></tr>
<tr>
	<th>审核：</th>
	<td>
		<label><input type="radio" name="data[audit]" <{if $detail.audit}>checked="checked"<{/if}> value="1"/>发布</label>&nbsp;&nbsp;
		<label><input type="radio" name="data[audit]" <{if empty($detail.audit)}>checked="checked"<{/if}> value="0"/>待审</label>
	</td>
</tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>