<{include file="merchant:block/header.html"}>
<div class="row">
    <div class="col-sm-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class=""><a  href="<{link ctl='merchant/weixin/packet:index'}>" >红包列表</a></li>
                <li class="active"><a  href="<{link ctl='merchant/weixin/packet:create'}>" >添加红包</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="">
                            <form action="<{link ctl='merchant/weixin/packet:create'}>" method="post" mini-form="jhcms" class="form-horizontal" ENCTYPE="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">活动名称：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <input type="text" name="data[title]" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">关键字：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <input type="text" name="data[keyword]" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group draggable">
                                    <label class="col-sm-2 control-label">封面图片：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4"><input type="text" name="data[msg_pic]" class="form-control" id="file_photo" value="" readonly="readonly" /></div>
                                        <div class="col-sm-8"><input type="button" uploadbtn="#file_photo" class="ke-upload_lay pull-left" value=" 选择文件 " /><a preview="#file_photo" class="btn btn-success btn-outline"><span class="bs-glyphicons glyphicon glyphicon-th" aria-hidden="true"></span> 预览</a></div>
                                    </div>
                                </div>                              
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">活动介绍：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <input type="text" name="data[desc]" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">活动时间：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <div class="input-daterange input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" class="input-sm form-control" name="data[start_time]" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                                                <span class="input-group-addon">至</span>
                                                <input type="text" class="input-sm form-control" name="data[end_time]" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">活动规则说明：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <textarea name="data[info]"  class="form-control" style="height: 150px"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">领取人数：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <input type="text" name="data[people]" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">领取次数：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <input type="text" name="data[get_number]" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">红包类型：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <div class="radio radio-success radio-inline">
                                                <input type="radio" id="packet_type_1" name="data[packet_type]" value="1" checked="checked" />
                                                <label for="packet_type_1">手气红包</label>
                                            </div>
                                            <div class="radio radio-inline">
                                                <input type="radio" id="packet_type_2" name="data[packet_type]" value="2" />
                                                <label for="packet_type_2">普通红包</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">红包属性：</label>
                                    <div class="col-sm-10 change1" style="margin-bottom: 15px;">
                                        <div class="col-sm-4">
                                            <input type="text" name="data[item_sum]" value="" class="form-control">
                                        </div><span class="help-block m-b-none">活动资金</span>
                                    </div>
                                    <label class="col-sm-2 control-label change1"></label>
                                    <div class="col-sm-10 change1" style="margin-bottom: 15px;">
                                        <div class="col-sm-4">
                                            <input type="text" name="data[item_max]" value="" class="form-control">
                                        </div><span class="help-block m-b-none">面额上限 （单个红包可被抽取的最大值）</span>
                                    </div>

                                    <label class="col-sm-2 control-label change1"></label>
                                    <div class="col-sm-10 change1">
                                        <div class="col-sm-4">
                                            <select name="data[deci]" class="form-control m-b">
                                                <option value="0">整数</option>
                                                <option value="1">一位小数</option>
                                                <option value="2">两位小数</option>
                                            </select>
                                        </div><span class="help-block m-b-none">面额属性，整数格式：11，一位小数格式：11.1,，两位小数格式：11.11</span>
                                    </div>

                                    <label class="col-sm-2 control-labe change2" style="display:none;"></label>
                                    <div class="col-sm-10 change2" style="margin-bottom: 15px;display:none;">
                                        <div class="col-sm-4">
                                            <input type="text" name="data[item_num]" value="" class="form-control">
                                        </div><span class="help-block m-b-none">发放个数 （可被领取的红包个数，超过后将无法领取红包）</span>
                                    </div>
                                    <label class="col-sm-2 control-label change2" style="display:none;"></label>
                                    <div class="col-sm-10 change2" style="display:none;">
                                        <div class="col-sm-4">
                                            <input type="text" name="data[item_unit]" value="" class="form-control">
                                        </div><span class="help-block m-b-none">红包面额（请填写整数或者不大于2位的小数）</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">线下兑换密码：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <input type="text" name="data[password]" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">是否开启活动：</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <div class="radio radio-success radio-inline">
                                                <input type="radio" id="is_open_1" name="data[is_open]" value="1" />
                                                <label for="is_open_1">开启</label>
                                            </div>
                                            <div class="radio radio-inline">
                                                <input type="radio" id="is_open_0" name="data[is_open]" value="0" checked="checked" />
                                                <label for="is_open_0">关闭</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">&nbsp;</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" type="submit">保存数据</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<{include file="merchant:block/footer.html"}>