<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="pintuan/productcate:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>拼团分类ID：</th><td><{$detail.pintuan_cate_id}></td></tr>
<tr><th>父级分类：</th><td><{$detail.parent_id}></td></tr>
<tr><th>商品名称：</th><td><{$detail.title}></td></tr>
<tr><th>图片：</th><td><img src="<{$pager.img}>/<{$detail.icon}>" class="wh-200" /></td></tr>
<tr><th>排序：</th><td><{$detail.orderby}></td></tr>
<tr><th>创建时间：</th><td><{$detail.dateline|format}></td></tr>
</table></div>

<{include file="admin:common/footer.html"}>