<{include file="admin:common/header.html"}>
<script type="text/javascript" src="<{$pager.res}>/script/widget.bmap.js"></script>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt=""/></td>
            <th><{$MOD.title}></th>
            <td align="right"><{link ctl="xiaoqu/xiaoqu:index" priv="hidden" class="button"}></td>
            <td width="15"></td>
        </tr>
    </table>
</div>
<div class="page-data">
    <form action="?xiaoqu/xiaoqu-edit.html" mini-form="xiaoqu-form" method="post">
        <table width="100%" border="0" cellspacing="0" class="table-data form">
            <input type="hidden" name="xiaoqu_id" value="<{$detail.xiaoqu_id}>"/>
            <tr>
                <th><span class="red">*</span>小区名称：</th>
                <td><input type="text" name="data[title]" value="<{$detail.title|default:''}>" class="input w-300"/>
                </td>
            </tr>
            <tr>
                <th class="w-100">地区：</th>
                <td><{widget id="data/region" city_id=$detail.city_id area_id=$detail.area_id level=3}></td>
            </tr>
            <tr>
                <th><span class="red">*</span>小区地址：</th>
                <td><input type="text" name="data[addr]" value="<{$detail.addr|default:''}>" class="input w-300"/></td>
            </tr>
            <tr>
                <th><span class="red">*</span>物业管理员：</th>
                <td>

                    <input type="hidden" name="data[wuye_id]" value="<{$detail.wuye_id}>" id="hongbao_member_id" />
                    <input type="text" value="<{$user.title}>" id="hongbao_member_uname" class="input w-150"/>
                    <{link ctl="xiaoqu/wuye:dialog" title="选择物业管理员" select="mini:#hongbao_member_id,#hongbao_member_uname/N/选择物业管理员" class="button"}>
                    <span class="tip-comment">只能选择没有入驻的物业</span>
                </td>
            </tr>
            <tr>
                <th>坐标：</th>
                <td>
                    <label>经度:<input type="text" name="data[lng]" value="<{$detail.lng}>" id="Bmap_marker_lng"
                                     class="input w-100"/></label>
                    <label>纬度:<input type="text" name="data[lat]" value="<{$detail.lat}>" id="Bmap_marker_lat"
                                     class="input w-100"/></label>
                    <a map-marker="#Bmap_marker_lng,#Bmap_marker_lat" class="button"><b>拾取工具</b></a><span class="tip-comment">使用百度地图经纬度</span>
                </td>
            </tr>
            <!-- <tr>
                <th><span class="red">*</span>物业电话：</th>
                <td><input type="text" name="data[phone]" value="<{$detail.phone|default:''}>" class="input w-300"/>
                </td>
            </tr> -->
            <tr>
                <th>排序：</th>
                <td><input type="text" name="data[orderby]" value="<{$detail.orderby|default:'50'}>"
                           class="input w-100"/></td>
            </tr>
            <tr>
                <th>审核：</th>
                <td>
                    <label><input type="radio" name="data[audit]" <{if $detail.audit}>checked="checked"<{/if}>
                        value="1"/>发布</label>&nbsp;&nbsp;
                    <label><input type="radio" name="data[audit]" <{if empty($detail.audit)}>checked="checked"<{/if}>
                        value="0"/>待审</label>
                </td>
            </tr>
            <tr>
                <th class="clear-th-bottom"></th>
                <td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据"/></td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    (function (K, $) {
        $("select[name='data[city_id]']").live('change', function () {
            var city_id = $(this).val();
            if (!city_id) {
                return false;
            }
            $.getJSON("?data/area-city-" + city_id + ".html", function (ret) {
                if (ret.error) {
                    Widget.MsgBox.error(ret.message.join(","));
                } else if (ret.areas.length > 0) {
                    var html = "";
                    for (var i = 0; i < ret.areas.length; i++) {
                        html += '<option value="' + ret.areas[i].area_id + '">' + ret.areas[i].area_name + '</option>';
                    }
                    $("select[name='data[area_id]']").html(html);
                } else {
                    $("select[name='data[area_id]']").html('<option value="">--</option>');
                }
            });
        });
    })(window.KT, window.jQuery);
</script>
<{include file="admin:common/footer.html"}>