body{}
ul,li{ margin:0; padding:0; list-style:none;}
.fl{float:left;}
.fr{float:right;}
.clear{ height: 0; line-height: 0; font-size: 0; clear: both;}
.clearfix { display: block; *zoom: 1; }
.none{ display:none;}

.maincl{ color:#00bd9e;}
.fontcl1{ color:#ff6600;}
.fontcl2{ color:#ff9900;}
.pointcl{ color:#fd0202;}
.black9{ color:#999999;}
.black6{ color:#666666;}
.black3{ color:#333333;}

.border_t{ border-top:1px solid #ccc;}
.border_b{ border-bottom:1px solid #ccc;}
.border_l{ border-left:1px solid #ccc;}
.border_r{ border-right:1px solid #ccc;}

.pagewd{ width:1200px; margin:0px auto;min-width:1200px;}
.smallpage{ width:1000px;margin:0px auto; min-width:1000px;}

.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}

.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}

.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.ml30{ margin-left:30px;}

.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr20{ margin-right:20px;}
.mr30{ margin-right:30px;}

.pad_b30{ padding-bottom:30px;}

.text_c{ text-align:center;}
.text_r{ text-align:right;}
.text_l{ text-align:left;}

.bg_grey{ background:#f6f6f6;}

.mask_bg{ display:none; position:fixed; z-index:99; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.4;}

input{ outline:0;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{ background:none; background-color:#fff;}
a{ text-decoration:none;}
a:hover {
    color: #00bd9e;
    text-decoration:none;
}
a:focus{ text-decoration:none; color:none;}
/*以上为重置样式*/

/*左边菜单*/
.nav-header {border-bottom:1px solid #2c485c; text-align:left; padding:13px 20px; height:51px; position:relative;}
.nav-header .img{width:80px; height:80px; background:#eee; display:inline-block; border-radius:100%; overflow:hidden; line-height:80px; margin-bottom:5px;}
.nav-header .img img{ width:100%; vertical-align:middle;}
.nav-header .wz{ opacity:1; -webkit-transition: opacity .5s cubic-bezier(.15,.99,.18,1.01);-o-transition: opacity .5s cubic-bezier(.15,.99,.18,1.01);transition: opacity .5s cubic-bezier(.15,.99,.18,1.01); position:absolute; left:20px; top:15px;}
.nav-header .wz a{ font-size:18px; line-height:24px; color:#fff; opacity: 1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;-webkit-transition: opacity .5s cubic-bezier(.15,.99,.18,1.01);-o-transition: opacity .5s cubic-bezier(.15,.99,.18,1.01);transition: opacity .5s cubic-bezier(.15,.99,.18,1.01);}
.nav-header .wz a .ico{ display:inline-block; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 7px solid #ccc; margin-left:10px;}
.nav-header .img_ico{width:24px; height:24px; margin:0 auto; background:url(../images/nav/nav_home.png) no-repeat center; background-size:24px; display:none;}
body.mini-navbar .nav .nav-header a{ display:none;}
body.mini-navbar .nav .nav-header .img{ width:40px; height:40px;}
body.mini-navbar .nav .nav-header .img_ico{ display:block;}

.nav li.bt_li a{ display:block; font-size:14px; height:54px;}
.nav li.bt_li{background:#162530; border-bottom:1px solid #2c485c;}
.nav li.bt_li a.bt{border-left:3px solid transparent;background-color: #203544;color:#fff;transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;-webkit-transition:all 0.3s ease-in;-moztransition:all 0.3s ease-in;}
.nav li.bt_li a.bt:hover{ color:#fff;}
.nav li.bt_li a.bt.on{ background:#162530;}
.nav li.bt_li.active a.bt{border-left:3px solid #00bd9e;color:#00bd9e;}
.nav li.bt_li a.bt span{position: absolute;top: 50%;height: 34px;line-height: 34px;margin: -17px 0 0 50px;opacity: 1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;-webkit-transition: opacity .5s cubic-bezier(.15,.99,.18,1.01);-o-transition: opacity .5s cubic-bezier(.15,.99,.18,1.01);transition: opacity .5s cubic-bezier(.15,.99,.18,1.01);}
@-webkit-keyframes opacity {
    0 %{
     	opacity:0;
    }
    100 % { 
    	opacity:1;
    }
}
@keyframes opacity {
    0 %{
     	opacity:0;
    }
    100 % { 
    	opacity:1;
    }
}
.nav li.bt_li a.bt .ico_box{position: absolute; padding:7px; line-height:0;top: 50%;left: 15px;margin-top: -17px;border-radius: 100%;overflow: hidden;}
.nav li.bt_li a.bt:hover .ico_box { background-color:#2a4a5f}
.nav li.bt_li a.bt i.ico { display:inline-block; width:20px; height:20px; background-position:center; background-repeat:no-repeat; background-size:contain;overflow: hidden;}
.nav li.bt_li a.bt i.ico.ico1 { background-image:url(../images/nav/nav1_1.png);}
.nav li.bt_li a.bt i.ico.ico2 { background-image:url(../images/nav/nav2_1.png);}
.nav li.bt_li a.bt i.ico.ico3 { background-image:url(../images/nav/nav3_1.png);}
.nav li.bt_li a.bt i.ico.ico4 { background-image:url(../images/nav/nav4_1.png);}
.nav li.bt_li a.bt i.ico.ico5 { background-image:url(../images/nav/nav5_1.png);}
.nav li.bt_li a.bt i.ico.ico6 { background-image:url(../images/nav/nav6_1.png);}
.nav li.bt_li a.bt i.ico.ico7 { background-image:url(../images/nav/nav7_1.png);}
.nav li.bt_li a.bt i.ico.ico8 { background-image:url(../images/nav/nav8_1.png);}
.nav li.bt_li.active a.bt .ico.ico1{background-image:url(../images/nav/nav1_2.png);}
.nav li.bt_li.active a.bt .ico.ico2{background-image:url(../images/nav/nav2_2.png);}
.nav li.bt_li.active a.bt .ico.ico3{background-image:url(../images/nav/nav3_2.png);}
.nav li.bt_li.active a.bt .ico.ico4{background-image:url(../images/nav/nav4_2.png);}
.nav li.bt_li.active a.bt .ico.ico5{background-image:url(../images/nav/nav5_2.png);}
.nav li.bt_li.active a.bt .ico.ico6{background-image:url(../images/nav/nav6_2.png);}
.nav li.bt_li.active a.bt .ico.ico7{background-image:url(../images/nav/nav7_2.png);}
.nav li.bt_li.active a.bt .ico.ico8{background-image:url(../images/nav/nav8_2.png);}

.nav.nav-second-level.collapse[style] {transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moztransition:all 0.2s ease-in-out;}
.nav.nav-second-level>li>a{ color:#8b9298;}
.nav.nav-second-level>li.active>a{color:#00bd9e;background:none;}
.nav.nav-second-level>li>a:hover {background:inherit;color:#fff;}
.nav-second-level li::before {content: "";left: 34px;top: 15px;bottom: -15px;position: absolute;display: block;width: 1px;z-index: 1;color: #2a4a5f;border-left: 1px dashed #2a4a5f;}
.nav-second-level li:first-child::before {top: 0;}
.nav-second-level li:last-child::before {bottom: 41px;}
.nav-second-level li a::before {content: "";left:35px;top: 18px;position: absolute;display: block;width: 18px;z-index: 1;color: #2a4a5f; border-bottom: 1px dashed #2a4a5f;}
.nav-second-level li,.nav-third-level li {border-bottom:none!important;}
.nav-second-level li a {padding:7px 15px 7px 10px;	padding-left:67px;	height:auto !important;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.nav-second-level li:last-child {margin-bottom:10px}
/*左边菜单结束*/

/*头部*/
.navbar-header{ width:auto;}
.navbar-static-top .search-section {margin-left: 20px;margin-top: 10px;position: relative;width: 420px;}
.navbar-static-top .search-section .form-control{ border:none; background:#fff; border-radius:4px 0 0 4px; height:30px;}
.navbar-static-top .search-section .btn{ height:30px; border:none; border-left: 1px solid #e5e5e5; background:#fff;color: #06c1ae; font-size:12px; outline:0;}
.navbar-static-top .selct_box .selct_nr{ width:90px; padding:0 0 0 5px !important; margin-right:0 !important; border-right: 1px solid #e5e5e5; border-left:0;}
.navbar-static-top .selct_box .dropdown-menu{ padding:0 5px;}
.navbar-static-top .selct_box .dropdown-menu li{ line-height:20px; padding:5px 10px;}

.navbar-static-top .news_box a{ display:block; padding:0 10px; height:50px; margin-left:10px; line-height:50px; color:#fff; position:relative; font-size:14px;}
.navbar-static-top .news_box a .fa{ font-size:20px; margin-right:12px; vertical-align:text-bottom;}
.navbar-static-top .news_box a .num{ position:absolute; left:30px; top:10px; display:block; width:14px; height:14px; border-radius:100%; line-height:14px; text-align:center; color:#fff; font-size:10px; background:#ff3300;}
.navbar-static-top .userInfo_box{position:relative;}
.navbar-static-top .userInfo_box .userInfo{ display:block; padding:0 10px; height:50px; line-height:50px; color:#fff; font-size:14px;}
.navbar-static-top .userInfo_box .userInfo i{ font-size:10px; margin-left:4px; font-weight:normal;}
.navbar-static-top .userInfo_box .userInfo .img{ display:inline-block; width:30px; height:30px; border:1px solid #f0f0f0; border-radius:100%; overflow:hidden; margin-right:5px; background:#fff url(../images/user_bg.png) no-repeat center; background-size:100%; vertical-align:middle;}
.navbar-static-top .userInfo_box .userInfo .img img{ width:100%; height:100%;}
.navbar-static-top .userInfo_box .dropMenu{ display:none; position:absolute; left:0; right:0; top:50px; background:#fff; list-style:none; padding:0; margin:0;}
.navbar-static-top .userInfo_box .dropMenu li{list-style:none;}
.navbar-static-top .userInfo_box .dropMenu li a{ display:block; line-height:40px; padding:0 12px; color:#333; font-size:14px;}
.navbar-static-top .userInfo_box .dropMenu li a i{ font-size:18px; margin-right:10px; width:20px; text-align:center; vertical-align:middle;}
.navbar-static-top .userInfo_box .dropMenu li a:hover{ background:#00bd9e; color:#fff;}
.navbar-static-top .news_box a:hover,.navbar-static-top .top_powerOff a:hover,.navbar-static-top .userInfo_box .userInfo:hover,.navbar-static-top .userInfo_box .userInfo.on,.navbar-static-top .state_box .bt:hover,.navbar-static-top .state_box .bt.on{ background:#fff; color:#00bd9e;}

.navbar-static-top .top_powerOff a{ display:block; padding:0 16px; height:50px; line-height:50px; color:#fff; position:relative; background:#00c7a6;}
.navbar-static-top .top_powerOff a .fa{ font-size:20px;}

.navbar-static-top .state_box{position:relative;}
.navbar-static-top .state_box .bt{ display:block; padding:0 10px; height:50px; line-height:50px; color:#fff; font-size:14px;}
.navbar-static-top .state_box .bt i{ font-size:8px; margin-left:4px; font-weight:normal;}
.navbar-static-top .state_box .dropdown_state{ display:none; position:absolute; right:0; top:50px; background:#fff; list-style:none; padding:0; margin:0; width:430px; box-shadow:0 2px 6px #ccc;}
.navbar-static-top .state_box .list{ border-bottom:1px solid #e6e6e6; padding:20px; overflow:hidden;}
.navbar-static-top .state_box .list .btn{ float:left;}
.navbar-static-top .state_box .list p{ margin-left:100px; font-size:14px; line-height:20px;}
.navbar-static-top .state_box .time{ line-height:20px; padding:8px 20px; color:#666; margin:0;}
/*头部结束*/

/*面包屑导航*/
.breadcrumb_box{ height:40px; padding:10px 20px; background:#f5f5f5; border-bottom:1px solid #e6e6e6;}
.breadcrumb_box .breadcrumb{ background:none; line-height:20px; font-size:12px; color:#333;}
/*面包屑导航结束*/

/*登录与入驻*/
.help-block{ margin-top:1px;}
.loginTop{ width:100%; height:100px; background:#fff; padding:20px 0;}
.loginTop .logo{ font-size:30px; color:#00bd9e; line-height:60px; font-weight:600;}
.loginTop .logo img{ vertical-align:bottom; margin-right:10px;}
.loginTop .tit{ margin-left:40px; font-size:20px; font-weight:500; color:#666; line-height:60px;}
.loginTop .btn_box{ font-size:16px; line-height:36px; margin-top:14px;}
.loginTop .btn_box .btn{ height:34px; line-height:34px; font-size:16px; vertical-align:inherit; padding:0; width:80px; margin-left:12px;}

.login_box{ background:#fff; padding-bottom:80px;}
.login_form_box{ background:#fff; width:346px; height:400px; margin-top:40px; border:1px solid #e6e6e6;}
.login_form_box .tab_box{ border-bottom:1px solid #e6e6e6; padding:10px 0; text-align:center; overflow:hidden;}
.login_form_box .tab_box a{ display:block; float:left; width:50%; line-height:40px; font-size:20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; color:#333;}
.login_form_box .tab_box a.on,.login_form_box .tab_box a:hover{ color:#00bd9e;}
.login_form_box .cont{ padding:20px;}
.login_form_box .int_box{ border:1px solid #e6e6e6; height:40px; background:#f7f7f7; position:relative;}
.login_form_box .int_box.has-error{border:1px solid #a94442;}
.login_form_box .int_box .ico{ float:left; margin:9px; width:20px; height:20px; background:url(../images/login_ico1.png) no-repeat center;}
.login_form_box .int_box .ico.ico2{ background-image:url(../images/login_ico2.png);}
.login_form_box .int_box .ico.ico3{ background-image:url(../images/login_ico3.png);}
.login_form_box .int_box .ico.ico4{ background-image:url(../images/login_ico5.png);}
.login_form_box .int_box .box{ margin-left:39px; border-left:1px solid #e6e6e6; height:38px; background:#fff; position:relative;}
.login_form_box .int_box .box input{ padding:0; margin:0; border:none; background:none; height:38px; text-indent:10px; width:100%; font-size:14px; line-height:38px;}
.login_form_box .int_box .box .clear_ico{ position:absolute; right:10px; top:12px; width:14px; height:14px; background:url(../images/login_clear.png) no-repeat center top; display:none;}
.login_form_box .int_box .box .clear_ico:hover{ background-position:center bottom;}
.login_form_box .long_btn{ width:100%; border:none; background:#00bd9e; height:40px; font-size:16px; line-height:40px; color:#fff; cursor:pointer;}
.login_form_box .int_box.getyzm_int_box .box{ margin-right:86px;}
.login_form_box .int_box.getyzm_int_box .getyzm_box{ width:86px; height:38px; position:absolute; right:0; top:0;}
.login_form_box .int_box.getyzm_int_box .getyzm_box span{ display:block; margin:3px; height:32px; background:#f5f5f5; line-height:32px; text-align:center; color:#666; cursor:pointer;}
.login_form_box .caozuo_box{ overflow:hidden; margin:20px 0; font-size:14px; line-height:20px; color:#666;}
.login_form_box .caozuo_box input[type="checkbox"]{ appearance:none; -webkit-appearance:none; width:14px; height:14px; background:url(../images/checkbox_ico.png) no-repeat center top; margin-right:5px; cursor:pointer;}
.login_form_box .caozuo_box input[type="checkbox"]:checked{ background-position:center bottom;}
.login_form_box .caozuo_box a:hover{ color:#00bd9e; text-decoration:underline;}
.login_form_box .foot{ padding:20px; border-top:1px solid #e6e6e6; overflow:hidden;}
.login_form_box .foot a{ display:block;}
.login_form_box .foot a.fl{ margin-right:20px; transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;-moztransition:all 0.4s ease-in-out;}
.login_form_box .foot a.fl:hover{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);}
.login_form_box .foot a.fr{ line-height:40px; font-size:16px; color:#00bd9e;}
.login_form_box .foot a.fr .ico{ display:inline-block; margin-right:6px; width:16px; height:16px; background:url(../images/login_ico4.png) no-repeat center; vertical-align:middle;}
.login_form_box .foot a.fr:hover .ico{ animation-name:fadeInLeft; -webkit-animation-name:fadeInLeft;}

.forget_box{ padding:30px 0;}
.forget_box .login_form_box{ margin:0 auto; background:none; border:none;}
.forget_box .login_form_box .int_box .box{ background:#fafafa;}
.forget_box .login_form_box .int_box.getyzm_int_box .getyzm_box span{ background:#eee;}
.forget_box h2{ font-size:20px; color:#666; line-height:30px; margin-bottom:10px;}
.forget_box .state_box{margin:20px 0; position:relative;}
.forget_box .state_box:after{ content:''; border-radius:10px; display:block; width:100%; height:4px; position:absolute; left:0; top:13px; background:#ccc;}
.forget_box .state_box ul li{ font-size:18px; line-height:24px; width:33.33%; float:left; text-align:center; position:relative; z-index:1;}
.forget_box .state_box ul li p{ font-size:18px; line-height:24px; margin-top:10px;}
.forget_box .state_box ul li:after{ content:''; border-radius:10px; display:block; width:100%; height:4px; position:absolute; left:0; top:13px; background:#ccc;}
.forget_box .state_box ul li span{ position:relative; z-index:1; border-radius:100%; width:30px; height:30px; display:inline-block; background:#ccc; line-height:30px; font-size:20px; color:#999;}
.forget_box .state_box ul li.on{ color:#00bd9e;}
.forget_box .state_box ul li.on:after{ background:#00bd9e;}
.forget_box .state_box ul li.on span{ background:#00bd9e; color:#fff;}
.forget_box .finish_box{ text-align:center;}
.forget_box .finish_box img{ margin-bottom:15px;}
.forget_box .finish_box p{ font-size:16px; line-height:22px; color:#666;}

.footer_one{ background:#fff; border-top:1px solid #e6e6e6; text-align:center; padding:20px 0;}
.footer_nav{ font-size:14px; line-height:24px;}
.footer_nav a{ display:inline-block; margin:0 5px; color:#333;}
.footer_link{ margin:8px 0 10px;}
.footer_link a{ display:inline-block; margin:0 10px; color:#666; line-height:24px;}
.footer_copy p{ font-size:12px; line-height:20px; color:#666;}
/*登录与入驻end*/

/*首页*/
.topNotice{ border:1px solid #f5b291; background:#ffe3d5; border-radius:5px; padding:10px 15px;}
.topNotice .nr{ margin-right:100px; display:block; font-size:14px; line-height:20px; color:#ff5500;}
.topNotice .nr .ico{ display:inline-block; width:14px; height:14px; background:url(../images/notice_ico.png) no-repeat center; margin-right:5px; vertical-align:middle;}
.topNotice .modify_notice{ font-size:14px; font-weight:bold; color:#d94c05; padding:0; line-height:20px;}
.topNotice .modify_notice:hover{ opacity:0.8;}

.idx_total_box{ margin-left:-10px; margin-right:-10px;}
.idx_total_box .list{padding-left:10px; padding-right:10px;}
.idx_total{ height:100px; overflow:hidden;transition: all .1s ease-out; margin-bottom:20px;}
.idx_total.bg1{ background:#08c6a4;}
.idx_total.bg2{ background:#a36dd0;}
.idx_total.bg3{ background:#16b3e4;}
.idx_total.bg4{ background:#fb8462;}
.idx_total:hover{-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);box-shadow: 0 3px 5px rgba(0,0,0,.2);-webkit-transform: translateY(-2px);transform: translateY(-2px);}
.idx_total a{ display:block; overflow:hidden;}
.idx_total .img{ padding:27px 17px; float:left; width:30%; text-align:center;}
.idx_total .img i{ display:inline-block; width:40px; height:40px; background:url(../images/idx_total1.png) no-repeat center; background-size:100%;}
.idx_total .img i.ico2{ background-image:url(../images/idx_total2.png);}
.idx_total .img i.ico3{ background-image:url(../images/idx_total3.png);}
.idx_total .img i.ico4{ background-image:url(../images/idx_total4.png);}
.idx_total .wz_box{ float:right; width:66%; padding-left:10%; height:60px; margin-top:20px; padding-top:4px; border-left:1px solid rgba(255,255,255,.3);}
.idx_total .wz_box p{ font-size:14px; line-height:20px; color:#fff;}
.idx_total .wz_box p.big{ font-size:28px; line-height:28px; margin-bottom:4px;}

.idx_two{ margin-left:-10px; margin-right:-10px;}
.idx_two_box{ padding-left:10px; padding-right:10px;}

.idx_tit{ height:44px; line-height:24px; padding:10px 15px; overflow:hidden; font-size:15px; background:#fcfcfc; border-bottom:1px solid #e6e6e6;}
.idx_tit span{ padding-left:8px; border-left:3px solid #00bd9e;}
.idx_tit .more{ font-size:12px;}
.idx_activity{ border:1px solid #e6e6e6; background:#fff;}
.idx_activity ul{height:257px; overflow:hidden;}
.idx_activity ul li{ margin:0 15px; padding:10px 0; border-bottom:1px dashed #ccc;} 
.idx_activity ul li:last-child{ border-bottom:0;}
.idx_activity ul li h4{ font-size:14px; line-height:20px; font-weight:normal; margin:0; margin-bottom:5px;}
.idx_activity ul li p{ color:#999; line-height:20px; margin:0; height:20px; overflow:hidden;}

.idx_total_img{border:1px solid #e6e6e6; background:#fff;}
.idx_total_img .box{ height:257px; overflow:hidden; padding:15px;}

.idx_hot{border:1px solid #e6e6e6; background:#fff;}
.idx_hot .box{ margin:15px;}
.idx_hot .dispatch_table{ border:0;}
.idx_hot .dispatch_table tr{ border-top:0; border-bottom:1px dashed #ccc;}
.idx_hot .dispatch_table tr.tit{ border:0;}
.idx_hot .dispatch_table tr.tit td{ background:#f1f1f1;}
/*首页end*/

/*分页开始部分*/
.paging {
	overflow: hidden;
	text-align: center;
	line-height: 20px;
	padding:40px 0px;
}

.paging span {
    color: #555;
    display: inline-block;
    padding: 5px 12px;
}
.paging a {
    background: none repeat scroll 0 0 #fff;
    display: inline-block;
    padding: 4px 10px;
	color:#555;
	border:1px solid #dbdbdb;
}
.paging .on,.paging a:hover {
    background: none repeat scroll 0 0 #00bd9e;
    display: inline-block;
    padding: 4px 10px;
	color:#fff;
	border:1px solid #00bd9e;
}
/*分页结束部分*/

/*筛选分类*/
.dispatch_serch{ font-size:14px; line-height:30px; border:1px solid #ccc; border-left:3px solid #00bd9e; margin-bottom:20px; padding:0px 20px;}
.dispatch_serch .list_box{ border-bottom:1px dashed #ccc; padding:12px 0;}
.dispatch_serch .list_box:last-child{ border-bottom:0;}
.dispatch_serch .btn{ vertical-align:middle; font-size:14px;}
.dispatch_serch label{ font-weight:normal;}
.dispatch_serch label input{ vertical-align:middle; margin:0 2px;}

.tuan_topser {height: 32px; border: 1px solid #dbdbdb;  background: none; color: #333; border-radius:4px; outline:0; text-indent:10px;}
select.tuan_topser { text-indent:0px;}
.tuan_topserw1 {min-width: 100px;}
.tuan_topserw2 { width: 200px;}
.tuan_topserw3 { width: 130px; margin: 0px 5px;}
/*筛选分类end*/

/*tab*/
.dispatch_tab{ border-bottom:solid 2px #00bd9e; margin-bottom:20px; overflow:hidden; height:auto;}
.dispatch_tab ul li{ padding:0px 15px; height:30px; border:1px solid #dbdbdb; border-bottom:none 0px; border-radius:3px 3px 0px 0px; background-color:#eee; margin-right:10px; float:left;}
.dispatch_tab ul li a{ display:block; font-size:16px; color:#333; line-height:30px; text-align:center; cursor:pointer;}
.dispatch_tab ul li .num{ display:inline-block; width:16px; height:16px; line-height:16px; background:#ff4400; color:#fff; border-radius:100%; font-size:8px; margin-left:8px; vertical-align:middle;}
.dispatch_tab ul li:hover,.dispatch_tab ul li.on{border:1px solid #1ca290; border-bottom:none 0px; background-color:#00bd9e;}
.dispatch_tab ul li:hover a,.dispatch_tab ul li.on a{color:#fff;}
/*tab结束*/

/*弹出层*/
.mask_cont{ display:none; border-radius:5px; overflow:hidden; position:fixed; z-index:100; left:50%; top:50%;}
.mask_cont .cont{ background:#fff;}
.mask_cont .cont .btn{ margin:0 10px; width:160px; height:40px; line-height:28px; font-size:16px; border-radius:0;}
.mask_cont_tit{ height:50px; background:#e6e6e6; line-height:50px; padding:0 20px; overflow:hidden; font-size:18px;}
.mask_cont_tit .close{ font-size:24px; color:#666; opacity:1; text-shadow:none; font-weight:normal; line-height:50px;}
/*提示层*/
.prompt_mask .cont{ padding:0 20px 20px; width:360px;}
.prompt_mask .cont .ts{ padding:30px; text-align:center; font-size:15px; color:#666;}
.prompt_mask .cont .btn{ width:120px;}
/*规格层*/
.spec_mask .cont{ padding:20px; width:820px;  overflow:auto;}
.spec_mask .cont .table_box{ padding-bottom:20px;}
.spec_mask .cont table{ text-align:center; max-height:268px;}
.spec_mask .cont table tr.tit td{ font-size:14px; line-height:20px; padding:0;}
.spec_mask .cont table tr td{ padding:0 5px 10px; width:120px;}
.spec_mask .cont table tr td input.int{ border:1px solid #ccc; background:#fff; height:32px; text-align:center; font-size:14px; width:100px;}
.spec_mask .cont table tr td.cz{ width:180px; line-height:32px; text-align:left;}
.spec_mask .cont table tr td .clear_btn{ font-size:28px; color:#ccc; vertical-align:top; margin-left:20px;}
.spec_mask .cont table tr td .clear_btn:hover{color:#00bd9e;}
.spec_mask .cont .add_btn{ width:90px; height:30px; line-height:20px; font-size:14px; margin-top:10px;}
/*批量库存层*/
.repertory_mask .cont{width:420px;}
.repertory_mask .cont .btn{ width:90px;}
/*弹出层end*/

/*订单管理*/
.ord_list{ border:1px solid #bbb; backface-visibility:#fff; margin-bottom:20px;}
.ord_list .top_box{ border-bottom:1px solid #ccc; padding:10px 20px; overflow:hidden; line-height:20px; font-size:16px;}
.ord_list .top_box small{ font-size:10px;}
.ord_list .top_box p{ margin:0;}
.ord_list .top_box .style{ display:inline-block; padding:0 8px; line-height:24px; border-radius:3px; background:#ff6600; color:#fff; margin-right:6px; font-size:14px;}
.ord_list .bottom_box{ padding:5px 10px; border-top:1px solid #ccc; text-align:right; background:#eee;}
.ord_list .bottom_box .btn{ font-size:14px; margin-left:6px;}
.ord_list .mid_box{ padding:5px 20px;}
.ord_list .mid_box h3{ font-size:16px; line-height:24px; margin-bottom:5px;}
.ord_list .mid_box p{ font-size:14px; line-height:24px; color:#666; margin:0;}
.ord_list .mid_box .reason{ font-size:14px; line-height:20px; padding:10px 20px; color:#ff3300; background:#fedad1; margin:-5px -20px 0;}
.ord_list .mid_box .delt_box{ margin-top:10px; border-top:1px solid #ccc;}
.ord_list .delt_box .bt_box{ border-bottom:1px solid #ccc;}
.ord_list .delt_box .bt_box.on{ border-bottom:0;}
.ord_list .delt_box .bt{ overflow:hidden; font-size:16px; line-height:20px; padding:10px 0;}
.ord_list .delt_box .bt .open{ font-size:12px; color:#00bd9e;}
.ord_list .delt_box .remark{ font-size:14px; line-height:22px; padding-bottom:10px; color:#666;}
.ord_list .delt_box table tr td{ border-bottom:1px solid #eee; padding:10px; background:#fbfbfb; font-size:14px; line-height:20px;}
.ord_list .delt_box table tr:last-child td{ border-bottom:0;}
.ord_list .delt_box .cost_box{ overflow:hidden; padding:10px 0; font-size:14px; line-height:20px;}
/*订单管理end*/

/*评价管理*/
/*点评星星样式*/
.starBg{ display:inline-block; width:100px; height:16px; line-height:0; font-size:0; vertical-align:middle; background:url(../images/evaluate_star.png) repeat-x left bottom; position:relative; text-align:left;}
.star{display:inline-block; height:16px; font-size:0; line-height:0; vertical-align:middle; background:url(../images/evaluate_star_on.png) repeat-x left bottom;}
.star_clink{position: absolute; top: 0; left: 0; z-index: 2; display: inline-block; width: 100%; height:20px; overflow: hidden;}
.star_clink a{display: inline-block; width: 20%; height:20px; vertical-align: top; padding:0;margin:0;}
/*点评星星样式end*/
.elvt_tit{ background:#eee;border:1px solid #ccc; border-bottom:0; padding:10px 20px; font-size:14px; line-height:20px;}

.elvt_list{ border:1px solid #ccc; background:#fff; padding:15px 20px; margin-top:-1px;}
.elvt_list .left{ text-align:right;}
.elvt_list .left h4{ font-size:14px; line-height:20px; font-weight:normal; margin:0;}
.elvt_list .left p{line-height:20px; margin:0; margin-bottom:4px;}
.elvt_list .left p .starBg{ vertical-align:text-bottom;}
.elvt_list .right{ position:relative;}
.elvt_list .right .nr{ font-size:14px; line-height:22px;}
.elvt_list .right .zan_wz{ line-height:22px; margin:0;}
.elvt_list .right .reply_btn{ font-size:14px; line-height:20px; color:#00bd9e;  margin:10px 0; display:inline-block;}
.elvt_list .right .reply_btn .ico{ display:inline-block; width:20px; height:16px; background:url(../images/reply_ico.png) no-repeat center; vertical-align:middle;}
.elvt_list .right .see_ord .fa-angle-up{ display:none;}
.elvt_list .right .see_ord.on .fa-angle-up{ display:inline-block;}
.elvt_list .right .see_ord.on .fa-angle-down{ display:none;}
.elvt_list .right .see_ord_delt{ display:none; position:absolute; top:26px; right:20px;width:240px; padding:10px; border: 1px solid #D2D2D2;  border-radius: 4px;  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.15);  box-shadow: 0 0 4px 0 rgba(0,0,0,.15); background: #FFF;}
.elvt_list .right .see_ord_delt::after{ content:''; position: absolute; right:15px;  top: -5px;  width: 8px;  height: 8px; border: 1px solid #D2D2D2;  border-right: none;  border-bottom: none;  -webkit-transform: rotate(45deg);  transform: rotate(45deg);  background: #FAFAFA;}
.elvt_list .right .see_ord_delt p{overflow:hidden; line-height:20px;}
.elvt_list .right .see_ord_delt p.goods{ margin-bottom:5px;}
.elvt_list .right .replay_box{ position: relative;  margin-top: 15px; border: 1px solid #D2D2D2;  border-radius: 4px;  background: #FAFAFA; padding:6px 10px; font-size:14px; line-height:22px;}
.elvt_list .right .replay_box::after{ content:''; position: absolute; left:15px;  top: -5px;  width: 8px;  height: 8px; border: 1px solid #D2D2D2;  border-right: none;  border-bottom: none;  -webkit-transform: rotate(45deg);  transform: rotate(45deg);  background: #FAFAFA;}
.elvt_list .right .replay_form{ display:none; position: relative;  margin-top: 15px; border: 1px solid #D2D2D2;  border-radius: 4px;  background: #FAFAFA; padding:6px 10px; font-size:14px; line-height:22px;}
.elvt_list .right .replay_form::after{ content:''; position: absolute; left:15px;  top: -5px;  width: 8px;  height: 8px; border: 1px solid #D2D2D2;  border-right: none;  border-bottom: none;  -webkit-transform: rotate(45deg);  transform: rotate(45deg);  background: #FAFAFA;}
.elvt_list .right .replay_form textarea{ background:#fff; padding:10px; font-size:14px; line-height:22px; width:100%; height:100px; border:0; outline:0;}
.elvt_list .right .replay_form .btn{ margin-right:8px; margin-top:10px;}
/*评价管理end*/

/*table列表*/
.dispatch_table_top{ vertical-align:middle;border:solid 1px #ccc; border-bottom:0; padding:8px 20px; background:#fff;}
.dispatch_table_top .all{ line-height:30px; font-size:14px;}
.dispatch_table_top .btn{ margin-right:6px;}
.dispatch_table_top input{ margin:0; vertical-align:middle;}
.dispatch_table{ border-collapse:collapse; border:solid 1px #ccc; border-top:none 0px; text-align:left;}
.dispatch_table tr{ border-top:solid 1px #ccc;}
.dispatch_table td{ padding:10px; vertical-align:middle; line-height:20px;}
.dispatch_table td.check_box{ width:50px; text-align:center;}
.dispatch_table td p{ margin:0;}
.dispatch_table tr.tit td{ background:#eee; font-size:14px;}
.dispatch_table td .sort_box a{ border:1px solid #999; padding:2px 4px; line-height:20px; display:inline-block; font-size:14px; color:#999; margin:5px; background:#f0f0f0;}
.dispatch_table td .btn{ margin-bottom:5px;}
.dispatch_table td .img_box{ padding:4px; width:80px; height:60px; display:block; border:1px solid #ccc; background:#fff;}
.dispatch_table td .img_box img{ width:70px; height:50px;}
/*table列表end*/

/*form表单*/
.form_table{ border-collapse:collapse;}
.form_table td{ border:solid 1px #ccc;}
.form_table_t{text-align:right; padding:6px 5px 6px 0px; line-height:30px; color:#444;}
.form_table_t em{ font-size:20px; font-weight:bold; color:#ff071c; vertical-align:top; margin-right:2px; font-style:normal;}
.form_table_nr{padding:10px 10px; overflow:hidden; height:auto;}
.form_table_int{ border:solid 1px #ccc; height:30px; line-height:28px; text-indent:10px; color:#333; background:none; outline:0;}
.form_table_intw1{ width:404px;}
.form_table_intw2{ width:184px;}
.form_table_intw_min{ width:94px;}
.form_table_nrts{color:#1ca290; line-height:36px; font-size:12px; padding-left:10px;}
.form_table_textarea{ width:600px; height:150px;}
.form_table_scimg{ padding-right:25px; padding-top:15px;}
.form_table_scimg p{color:#444; line-height:20px; font-size:12px}
.form_table_sjimg{ position:relative; z-index:1; width:80px; height:80px; background:#f7f7f7; border:1px solid #ccc;}

.upload_img_btn{ position:relative; padding:5px 20px;}
.upload_img_btn input{ position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; filter:alpha(opacity=0);}
.form_table p{ margin:0;}
.form_table .spec_mask table,.form_table .spec_mask .cont table tr td{ border:0; padding:0 0 10px;}
.form_table .spec_mask .cont .add_btn{ margin-left:10px;}
.form_table input.check_box{ margin:0 4px; vertical-align:text-bottom;}
.form_table label{ font-weight:normal;}
.form_table_btn_box{ padding:60px 0;}
.form_table_btn_box .btn{ margin:0 6px;}
/*form表单end*/

/*商品管理-商品分类*/
.goodsCate{ padding:10px;}
.cate_one{background-color: #eee; padding: 5px;overflow: hidden;}
.cate_one input {display: inline-block;padding: 4px 10px;width: 90px;height: 30px;border: 1px solid #ccc;line-height: normal;font-size: 12px;color: #000;border-radius: 4px;background: #fff;}
.cate_one .clear_btn{display: block;padding-top: 6px;color: #000;}
.cate_one .clear_btn i{margin-right: .3em; font-size:14px; font-style:normal; font-weight:normal;}
.cate_one .sort_box a{ border:1px solid #999; padding:2px 4px; line-height:20px; display:inline-block; font-size:14px; color:#999; margin:2px 5px; background:#fafafa; vertical-align:middle;}
.cate_two{padding: 10px 5px;}
.cate_two .labelList{ float:left; overflow:hidden;}
.cate_two .labelList li{float: left;margin: 0 10px 10px 0;padding: 2px 6px;border-radius: 2px;background-color: #019f85;color: #fff; line-height:20px;}
.cate_two .labelList li span {margin-right: 5px; position:relative; cursor:pointer;}
.cate_two .labelList li span i{ font-style:normal;}
.cate_two .labelList li span input{ border:none; background:#1C89D5; height:16px; position:absolute; left:0px; right:0px; top:0px; padding:0; margin:0; width:100%; outline:none; opacity:0; color:#fff;}
.cate_two .labelList li .gicon-remove{display: inline-block;width: 14px; cursor:pointer;}
.cate_two .skuitemPanel .input{display: inline-block;padding: 4px 10px;margin-right: 5px;width:80px; height:26px;border: 1px solid #ccc;line-height: normal;  font-size: 12px;vertical-align: middle;color: #000;border-radius: 4px;background: #fff; margin-bottom:6px;}
.cate_two .skuitemPanel .btn{ height:26px; line-height:16px; vertical-align:top;}
.goodsCate .sku-add{display: block;line-height: 40px;background: #fff;border: 1px dashed #999;color: #999;font: 700 46px/40px arial;    text-align: center;}

.discount_mask.spec_mask .cont table{ text-align:left;}
.discount_mask.spec_mask .cont table tr .bt{ width:40px;}

.coupon_list{ border:1px solid #ccc; border-radius:5px; background:#fff; overflow:hidden; width:330px; height:120px; margin-bottom:15px;}
.coupon_list .left{ width:116px; text-align:center; height:120px; border-right:1px solid #ccc; padding-top:28px;}
.coupon_list .left big{ font-size:24px; line-height:24px; display:inline-block; margin-bottom:12px;}
.coupon_list .left p{ margin:0; font-size:16px; color:#999; line-height:20px;}
.coupon_list .left small{font-size:12px; color:#999; line-height:20px;}
.coupon_list .right{ font-size:20px; color:#999; line-height:26px; text-align:center; margin-left:116px; padding-top:46px;}

.coupon_list_box{ margin: 20px auto; width:860px;  padding: 20px;}
.coupon_list_box .table_nobd_box tr td{ padding:15px 10px;}

.reminder_mask .cont{ width:460px;}
.refuse_mask .cont{ width:460px;}
.refuse_mask .cont textarea{ width:100%; border:1px solid #ccc; background:#fff; outline:0; height:100px; padding:5px 10px;}
/*商品管理-商品分类end*/

/*店铺管理*/
.dianpu_tab_tit{ overflow:hidden; background: #eee; border: 1px solid #ccc; border-bottom: 0; padding: 10px 15px; font-size: 15px; line-height: 20px;}
.dianpu_tab_tit .btn{ height:24px; line-height:12px; float:right;}
.dianpu_tab .spec_mask .cont table tr td.line{ width:60px; color:#999;}

.volumeBar_table tr td{ border:0; padding:0;}
.volumeBar_table tr td.mid{ width:240px; padding:0 20px 0 10px;}
.volumeBar_table .ico{ display:inline-block; width:18px; height:18px; background-image:url(../images/volumeIco.png);}
.volumeBar_table .ico_2{ background-position-y:-22px;}
.volumeBar{width:100%; margin:20px auto;}
.slider-container .back-bar {
  width:100%;
  position: relative;
  height: 3px;
  background: #cccccc;
}
.slider-container .back-bar .selected-bar {
  position: absolute;
  height: 100%;
  background-color: #ff6600;
}
.slider-container .back-bar .pointer {
  position: absolute;
  top:50%;
  margin-top:-10px;
  width: 20px;
  height: 20px;
  background:url(../images/volumepor.png) no-repeat center center;
  background-size:100%;
  cursor:pointer;
  opacity: 1;
  z-index: 2;
}
.slider-container .back-bar .pointer-label {
  position: absolute;
  top: -15px;
  left:50%;
  margin-left:-12px;
  width:24px;
  background:#fff;
  text-align:center;
  white-space: nowrap;
  line-height: 1;
  color:#ff6600;
}
.slider-container .scale {
 display:none;
}

.dispchSet_list .check_box{ font-size:18px; line-height:30px; margin-bottom:10px; color:#00bd9e; overflow:hidden;}
.dispchSet_list .check_box input{ appearance:none; -webkit-appearance:none; border:0; outline:0; background:url(../images/address_select_1@2x.png) no-repeat center; width:20px; height:20px; vertical-align:text-bottom; margin:0; margin-right:10px;}
.dispchSet_list .check_box input:checked{ background-image:url(../images/address_select_2@2x.png);}
.dispchSet_list .int_list{ margin-bottom:10px; font-size:14px; line-height:20px;}
.dispchSet_list .int_list .text{ width:120px;}
.dispchSet_list .int_list .clear_btn {font-size: 24px;color: #ccc;vertical-align: top;margin-left: 20px;}
.dispchSet_list .add_btn {width: 90px;height: 30px;line-height: 20px;font-size: 14px;margin-top: 10px;}
/*店铺管理end*/

/*营销管理-店铺活动*/
.dianpuActv_list{ border:1px solid #bbb; background:#fff; margin-bottom:20px;}
.dianpuActv_list .top_box{padding: 5px 10px;border-bottom: 1px solid #ccc;background: #eee; overflow:hidden;}
.dianpuActv_list .top_box big{ font-size:16px; line-height:30px;}
.dianpuActv_list .box{ padding:10px 20px;}
.dianpuActv_list table tr td{ padding:8px 10px; text-align:center; border-bottom:1px dashed #ccc; line-height:20px;}
.dianpuActv_list table tr.tit td{ border-bottom:0; background:#f7f7f7; font-size:14px; color:#000;}
.dianpuActv_list table tr:last-child td{ border-bottom:0;}
.dianpuActv_list table tr td .btn{ color:#00bd9e;}
.dianpuActv_list .box .ts{ font-size:16px; line-height:24px;}

/*经营分析-营业统计*/
.mrkt_tit{ font-size:15px; line-height:30px;}
.mrkt_tit .bt{ font-size:16px; display:inline-block; padding:0 15px; line-height:30px; border-radius:4px; background:#00bd9e; color:#fff;}
.mrkt_tit select{ border:1px solid #ccc; outline:0; background:#fff; margin-left:10px;}
.mrkt_total_box .idx_total{border:1px solid #ccc;}
.mrkt_total_box .idx_total .wz_box{ padding-left:0; border-left:0; color:#333; text-align:center; width:100%;} 
.mrkt_total_box .idx_total .wz_box p{ color:#999;}
.mrkt_total_box .idx_total .wz_box p.big{ color:#333; margin-bottom:8px;}

/*财务管理*/
.finance_info .list{ border:1px solid #e6e6e6; padding:15px 12px; margin:0 -5px; margin-bottom:10px;}
.finance_info .list .img{ margin-top:4px;}
.finance_info .list .wz_box{ margin-left:60px; height:60px; padding-left:10px; border-left:1px solid #eee;}
.finance_info .list .wz_box p{ font-size:14px; line-height:20px; color:#666;}
.finance_info .list .wz_box p .btn{ margin-left:6px;}
.finance_info .list .wz_box big{ font-size:22px; line-height:24px; color:#ff3300; margin-bottom:4px; display:block;}
.finance_info .list .wz_box big small{ font-size:14px;}
.tixian_mask.add_rider_mask .cont{padding: 40px 30px 60px;}
.tixian_mask.add_rider_mask .cont .int_box .int{ margin-right:110px; margin-left:90px;}
.tixian_mask.add_rider_mask .cont .int_box span.fl{ width:90px;}

.finance_table table tr td{ border:1px solid #ccc; text-align:center;}

.finance_ord_delt table{ border:1px solid #ccc; background:#fafafa;}
.finance_ord_delt table tr td{ padding:8px 10px; line-height:20px; font-size:14px; text-align:center;}
.finance_ord_delt table tr td p{ margin:0;}

.accountInfo{ margin:20px 30px; padding:20px; border:1px solid #ccc;}
.table_nobd_box tr td{ padding:8px 10px; font-size:16px; line-height:24px; color:#000; vertical-align:top;}
.table_nobd_box .bt{ width:240px;}

.account_bill_delt{ border:1px solid #ccc; padding:30px 20px;}
.account_bill_delt ul li{ float:left; text-align:center; margin:20px 0;}
.account_bill_delt .list{ width:22%;}
.account_bill_delt .list .num{ display:inline-block; width:30px; height:30px; line-height:30px; border-radius:100%; background:#00bd9e; font-size:16px; color:#fff; margin-bottom:20px;}
.account_bill_delt .list p{ font-size:16px; line-height:24px; margin-bottom:0;}
.account_bill_delt .line{ width:4%; font-size:18px; line-height:30px; color:#999;}
/*财务管理end*/



