<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="jpush/device:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?jpush/device-create.html" mini-form="device-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>uid：</th><td><input type="text" name="data[uid]" value="<{$detail.uid|default:''}>" class="input w-100"/></td></tr>
<tr><th>staff_id：</th><td><input type="text" name="data[staff_id]" value="<{$detail.staff_id|default:''}>" class="input w-100"/></td></tr>
<tr><th>shop_id：</th><td><input type="text" name="data[shop_id]" value="<{$detail.shop_id|default:''}>" class="input w-100"/></td></tr>
<tr><th><span class="red">*</span>类型：</th><td><input type="text" name="data[from]" value="<{$detail.from|default:''}>" class="input w-300"/></td></tr>
<tr><th><span class="red">*</span>设备注册号：</th><td><input type="text" name="data[register_id]" value="<{$detail.register_id|default:''}>" class="input w-300"/></td></tr>
<tr><th>标签：</th><td><input type="text" name="data[tag_ids]" value="<{$detail.tag_ids|default:''}>" class="input w-300"/></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>